
{% extends 'inicio/base.html' %}
{% load staticfiles %}

			{% block barra %}

			<h4 align="left">Solicitud de Registro:</h4>

			{% endblock %}


			{% block registro %}

			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<br>
				<div class="container">
					<form action="" class="" >	
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="form-group">	
									<label for="">Nombre:</label>	
									<input class="form-control input-sm" id="" type="text" placeholder="Ingresar Nombre"  title="Ingresar Nombre" maxlength="20" required />	
								</div>	
								<div class="form-group">
									<label for="">Apellido:</label>	
									<input class="form-control input-sm" id="" type="text" placeholder="Ingresar Apellido" title="INgresar Apellido" maxlength="15" required />
								</div>		
								<div class="form-group">
									<label for="">Tipo de documento:</label>
									<select class="form-control input-sm">
										<option>Ingresar tipo de documento</option>
										<option>DNI</option>
										<option>LE</option>
									</select>
								</div>		
								<div class="form-group">
									<label for="">Nro de documento:</label>									
									<input class="form-control input-sm" id="" type="text" placeholder="Ingresar Nro Documento" title="Ingresar Nro Documento" maxlength="9" required />
								</div>		
								<div class="form-group">
									<label for="">Nro de CUIT:</label>
									<input class="form-control input-sm" id="" type="text" placeholder="Ingresar Nro de CUIT" title="Ingresar Nro de CUIT" maxlength="14" required />
								</div>	
						</div>				
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">			
								<div class="form-group">
									<label for="">Profesión:</label>
									<select class="form-control input-sm">
										<option>Ingresar profesión</option>
										<option>Maestro Mayor de Obra</option>
										<option>Arquitecto</option>
										<option>Ingeniero Civil</option>
									</select>				
								</div>	
								<div class="form-group">
									<label for="">Categoria profesional:</label>
									<select class="form-control input-sm">
										<option>Ingresar categoria</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
								</div>	
								<div class="form-group">
									<label for="">Nro. de matrícula:</label>
									<input class="form-control input-sm" id="" type="text" placeholder="Ingresar Matricula" title="Ingresar Matricula" maxlength="4" required />
								</div>
								<div class="form-group">
									<label for="telefono">Nro. de teléfono:</label>
									<input class="form-control input-sm" id="" name="" type="text" placeholder="Ingresar Nro de telefono" title="Ingresar Nro de telefono" maxlength="13" required />
								</div>
								<div class="form-group">
									<label for="">E-Mail:</label>
									<input class="form-control input-sm" id="" name="" type="email" placeholder="Ingresar e-mail" title="Ingresar e-mail" maxlength="20" required />
								</div>		
						</div>
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="form-group">
									<label for="">Certificado de Colegio Profesional:</label>
									<input class="file" id="certificado" type="file"  data-preview-file-type="any" title="Cargar Certificado de Colegio Profesional" required />
								</div>
								<hr size="5" width="300" align="left">
								<div class="form-group">
									<label for="">Foto de perfil:</label>
									<br>
						             <input class="file" id="perfil"  type="file" data-preview-file-type="any" title="Cargar foto de perfil">
								</div>	
								<hr size="5" width="300" align="left">			
						</div>	
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" align="right">
							<button class="btn btn-primary btn-sm" type="submit" title="Enviar solicitud de registro">
								Solicitar registro
							</button>
							<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
								Limpiar
							</button>
						</div>
					</div>
					</form>
					<br>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"> </div>

			{% endblock %}




	<!-- Esto no se debe borrar-->
	<script src="bootstrap/js/bootstrap.min.js"></script>


	<script>
		$("#certificado").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar Certificado',
			showUpload: false,
			showRemove: false
		});
	</script>

	<script>
		$("#perfil").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			maxFileSize: 1,
			browseLabel: 'Cargar foto de perfil',
			showUpload: false,
			showRemove: false
		});
	</script>



