{% load staticfiles %}

	<br />
	<form action="" class="form-inline" >
		<div class="form-group">
			<label for=""><small>Usuario:</small></label>
			<font color="#0098db"><input class="form-control input-sm" id="" type="text" placeholder="Ingresar usuario" title="Ingresar nombre de usuario" maxlength="20" required autofocus/ ></font>
		</div>
		<div class="form-group">
				<label for=""><small> Contraseña</small></label>
				<font color="#0098db"><input class="form-control input-sm" id="" type="password" placeholder="Ingresar contraseña" title="Ingresar contraseña" maxlength="10" required/></font>
		</div>
		<div class="form-group">	
			<!-- activar esto y desactivar la referencia "a" cuando este terminado y ver como mandar el submit	-->
			<!--<input type="image" src="Images/Boton aceptar.png" alt="Iniciar sesion" title="Iniciar sesi?" width="30" height="30" hspace="10"/>-->
			<a href="profesional">
				<img src="{% static 'images/Boton aceptar.png' %}" alt="Iniciar sesion" title="Iniciar sesión" width="30" height="30" hspace="10"/>
			</a>
		</div>						
	</form>




