<!-- Template que se encarga de mostrar los tipos de documento -->
{% load staticfiles %}

{% block tipos_de_documento %}
  <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Fecha de Alta</th>
        <th>Fecha de Baja</th>
        <th>Utiliza</th>
        <th>Requerido Para</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if tipos_de_documento %}
      {% for tipo_de_documento in tipos_de_documento %}
      <tr>
        <td class="col-xs-2">{{ tipo_de_documento.nombre }}</td>
        <td class="col-xs-2">{{ tipo_de_documento.descripcion }}</td>
        <td class="col-xs-2">{{ tipo_de_documento.fecha_alta }}</td>
        <td class="col-xs-2">{{ tipo_de_documento.fecha_baja }}</td>
        <td class="col-xs-2">{{ tipo_de_documento.quien_lo_utiliza }}</td>
        <td class="col-xs-2">{{ tipo_de_documento.requerido_para }}</td>
        <th class="col-xs-2"><a href="#" onclick='abrir_modal_eliminar_tipo_de_documento("{{tipo_de_documento.id}}", "{{tipo_de_documento.nombre}}")'> <button type="button" class="btn btn-danger">Eliminar</button></a></th>
      </tr>
      {% endfor %}
      {% endif%}
    </tbody>
  </table>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
    function abrir_modal_eliminar_tipo_de_documento(id, nombre){
        // alert(id);
        $('#id_tipo_documento').html(nombre);
        $('#eliminar_tipo_de_documento').modal('toggle');
    }
    </script>

{% endblock %}
