
{% extends 'persona/inicio/base.html' %}
{% load staticfiles %}

			{% block barra %}

				<ul class="sidebar sidebar-1">
					<font size="2">
						<li><a href="#" class="current"><font color="tomato">Solicitud de registro</font></a></li>
					</font>
				</ul>

			{% endblock %}


			{% block contenido %}

				<div class="container-fluid">
					<div class="panel panel-custom">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<br>
									<form action="" class="" method="POST" enctype="multipart/form-data">{% csrf_token %}
									<div class="row">

										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

											<label>Complete los campos para solicitar el ingreso al sistema</label>

											<hr>
											{% block solicitud_de_registro_profesional %}
												{% include "persona/alta/alta_profesional.html" with form=form %}
											{% endblock %}
										</div>

										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

										</div>

										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<div class="form-group">
												<label for="">Certificado de Colegio Profesional:</label>
												<input class="file" id="certificado" type="file"  data-preview-file-type="any" title="Cargar Certificado de Colegio Profesional"  />

											</div>
											<hr>

											<div class="form-group">
												<label for="">Foto de perfil:</label>
												<br>
												 <input class="file" id="perfil"  type="file" data-preview-file-type="any" title="Cargar foto de perfil">
											</div>
											<hr>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
											<button class="btn btn-primary btn-sm" type="submit" title="Enviar solicitud de registro">
												Solicitar registro
											</button>
											<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
												Limpiar
											</button>
										</div>
									</div>
									</form>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>



			{% endblock %}




	<!-- Esto no se debe borrar
	<script src="bootstrap/js/bootstrap.min.js"></script>-->


	<script>
		$("#certificado").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar Certificado',
			showUpload: false,
			showRemove: false
		});
	</script>

	<script>
		$("#perfil").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			maxFileSize: 1,
			browseLabel: 'Cargar foto de perfil',
			showUpload: false,
			showRemove: false
		});
	</script>



