
{% extends 'persona/inicio/base.html' %}
{% load staticfiles %}

<!--comienza el contenido del main-->
{% block contenido %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-custom">
	<div class="panel-heading panel-heading-custom box" role="tab" id="headingFive">
	  <h5 class="panel-title">
		<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		  <font color="#ffffff" size="2">Nuevo Profesional en Municipio</font>
		</a>
	  </h5>
	</div>
	<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		<div class="container-fluid" id="alta_usuario">
			<div class="row">
				<div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="form-group">
						{% block alta_tipo_documento %}
							{% include "persona/alta/alta_profesional.html" with form=form %}
						{% endblock %}
					
					</div>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-4 col-lg-4 col-md-offset-3">
					<div class="form-group">
						<label for="">Certificado Colegio:</label>
						<input class="file" id="final"  type="file" data-preview-file-type="any" title="Certificado" required />
					</div>
				</div>				
			</div>
		</div>

	</div>
	</div>
	</div>
	</div>
{% endblock %}


	{% block scripts %}

		<!-- Esto no se debe borrar-->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		<script>
			$("#perfil").fileinput({
				showCaption: false,
				browseClass: "btn btn-primary btn-sm",
				fileType: "any",
				maxFileCount: 1,
				browseLabel: 'Cargar nueva foto de perfil',
				showUpload: false,
				showRemove: false
			});
		</script>

		<script>
			$("#final").fileinput({
				showCaption: false,
				browseClass: "btn btn-primary btn-sm",
				fileType: "any",
				maxFileCount: 1,
				browseLabel: 'Cargar constancia de CACH',
				showUpload: false,
				showRemove: false
			});
		</script>

		<script type="text/javascript">
			function opcionesGrupo(id) {
				if (id == "nada") {
					$("#alta_grupo").hide();
					$("#baja_grupo").hide();
					$("#modificar_grupo").hide();
				}
				if (id == "alta_grupo") {
					$("#alta_grupo").show();
					$("#baja_grupo").hide();
					$("#modificar_grupo").hide();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelGrupo").val('alta_grupo');
				}
				if (id == "baja_grupo") {
					$("#alta_grupo").hide();
					$("#modificar_grupo").hide();
					$("#baja_grupo").show();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelGrupo").val('baja_grupo');
				}
				if (id == "modificar_grupo") {
					$("#alta_grupo").hide();
					$("#modificar_grupo").show();
					$("#baja_grupo").hide();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelGrupo").val('modificar_grupo');
				}
			}
			function opcionesUsuario(id) {
					if (id == "nada") {
						$("#alta_usuario").hide();
						$("#modificar_usuario_grupo").hide();
					}
					if (id == "alta_usuario") {
						$("#alta_usuario").show();
						$("#modificar_usuario_grupo").hide();
						$("#pswd2").attr('disabled', 'disabled');
						//esto es por si dejo los submenu
						$("#" + "opcionesDelUsuario").val('alta_usuario');
					}
					if (id == "modificar_usuario_grupo") {
						$("#alta_usuario").hide();
						$("#modificar_usuario_grupo").show();
						//esto es por si dejo los submenu
						$("#" + "opcionesDelUsuario").val('modificar_usuario_grupo');
					}
			}
		</script>

		<script type="text/javascript">
			function cargarpermisosSeleccionados(objeto,selectUsado)
			{
				var indexSelect=document.getElementById(objeto.id).selectedIndex;
				var idUsado=document.getElementById(selectUsado);
				if(objeto.value==0)
				{
					idUsado.disabled=true;
				}else if(idUsado.options.length==1){
					idUsado.options[idUsado.options.length]=new Option(($("#"+objeto.id+" option:selected").text()),indexSelect);
					idUsado.disabled=false;
				}
				else if(idUsado.options.length>1){
					for(i=1;i<idUsado.options.length;i++){
						var evaluar= ($("#"+selectUsado+" option")[i]);
						var paraevaluar= evaluar.text;
						if(($("#"+objeto.id+" option:selected").text())==paraevaluar){
							i=idUsado.options.length;
						}else if((($("#"+objeto.id+" option:selected").text())!=paraevaluar) && (idUsado.options.length==i+1)){
							idUsado.options[idUsado.options.length]=new Option(($("#"+objeto.id+" option:selected").text()),indexSelect);
							idUsado.disabled=false;
						}
					}
				}
			}
			function eliminarSeleccionado(objeto)
			{
				if(objeto.value>0){
					$('#'+objeto.id).find("option[value="+objeto.value+"]").remove();
				}
				if(objeto.options.length==1){
					document.getElementById(objeto.id).disabled=true;
				}
			}
			function eliminarTodosPermisosSeleccionados()
			{
				document.getElementById("permisosSeleccionados").options.length=1;
				document.getElementById("permisosSeleccionados").disabled=true;
			}
			function eliminarTodosLosPermisos()
			{
				document.getElementById("permisosActuales").options.length=1;
				document.getElementById("permisosActuales").disabled=true;
			}
			function eliminarGruposSeleccionados()
			{
				document.getElementById("gruposSeleccionados").options.length=1;
				document.getElementById("gruposSeleccionados").disabled=true;
			}
			function eliminarTodosLosGrupos()
			{
				document.getElementById("gruposActuales").options.length=1;
				document.getElementById("gruposActuales").disabled=true;
			}
		</script>

		<script type="text/javascript">
			$(document).ready(function() {
			$('input[name=pswd]').keyup(function() {
				// set password variable
				var pswd = $(this).val();
				//validate the length
			if ( pswd.length < 6 ) {
				$('#length').removeClass('valid').addClass('invalid');
			} else {
				$('#length').removeClass('invalid').addClass('valid');
			}
			//validate letter
			if ( pswd.match(/[A-z]/) ) {
				$('#letter').removeClass('invalid').addClass('valid');
			} else {
				$('#letter').removeClass('valid').addClass('invalid');
			}
			//validate capital letter
			if ( pswd.match(/[A-Z]/) ) {
				$('#capital').removeClass('invalid').addClass('valid');
			} else {
				$('#capital').removeClass('valid').addClass('invalid');
			}
			//validate number
			if ( pswd.match(/\d/) ) {
				$('#number').removeClass('invalid').addClass('valid');
			} else {
				$('#number').removeClass('valid').addClass('invalid');
			}
			}).focus(function() {
				$('#pswd_info').show();
			}).blur(function() {
				$('#pswd_info').hide();
			});
			});
		</script>

		<!--habilita el verificar contraseña-->
		<script type="text/javascript">
			function activarVerificar(input, inputParaActivar){
				var valInput=input.value;
				var idVerificar=document.getElementById(inputParaActivar).id;
				if(valInput.length > 5 && valInput.match(/[A-z]/) && valInput.match(/[A-Z]/) && valInput.match(/\d/)){
					$("#"+ idVerificar).removeAttr("disabled");
				}else{
					$("#pswd2").attr('disabled', 'disabled');
				}
			}
		</script>

		<script type="text/javascript">
			$(document).ready(function() {
			$('input[name=pswd2]').keyup(function() {
				// set password variable
				var pswd2 = $(this).val();
				var pass = $('[name=pswd]');
				var valorPass = pass.val();
			//validate text
			if (pswd2==valorPass) {
				$('#equals').removeClass('invalid').addClass('valid');
			} else {
				$('#equals').removeClass('valid').addClass('invalid');
			}
			}).focus(function() {
				$('#pswd2_info').show();
			}).blur(function() {
				$('#pswd2_info').hide();
			});
			});
		</script>

		<!-- si existe boton  consulta e informes, esto lo despliega-->

		<script type="text/javascript">
			function mostrarSubmenu(subformulario)
			{
				var idSubformulario=document.getElementById(subformulario).id;
				if($('#' + idSubformulario).is(':hidden')){
					$('#' + idSubformulario).show();
				}else{
					$('#' + idSubformulario).hide();
				}
			}
		</script>

	{% endblock %}
