{% block contenido_tramites_agendados_jefe_inspector %}
<div class="table-responsive">
	<table id="tabla" class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
		<thead>
			<tr>
				<th>Nro</th>
				<th>Fecha inspección</th>
				<th>Tipo de obra</th>
				<th>Profesional</th>
				<th>Propietario</th>
				<th>Superficie</th>
				<th>Revisar</th>
			</tr>
		</thead>
		<tbody>
			{% if tramites %}
			{% for tramite in tramites %}
			<tr>
				<td class="col-xs-1">{{ tramite.id}}</td>
				<td class="col-xs-2">{{ tramite.estado.fecha}}</td>
				<td class="col-xs-2">{{ tramite.tipo_obra }} </td>
				<td class="col-xs-2">{{ tramite.profesional}}</td>
				<td class="col-xs-2">{{ tramite.propietario}}</td>
				<td class="col-xs-1">{{ tramite.medidas }} </td>
				<td class="col-xs-1" align="center" >
					<a href="{% url 'cargar_inspeccion_final' pk_tramite=tramite.id %}">
						<button type="button" class="btn btn-primary btn-xs" name="ver">
							<span class="glyphicon glyphicon-search" aria-hidden="true"> Documentos</span>
						</button>
					</a>
				</td>
			</tr>
			{% endfor %}
			{% endif%}
		</tbody>
	</table>
</div>
{% endblock %}