<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Propietario</th>
                <th>Profesional</th>
                <th>Medidas</th>
                <th>Tipo</th>
                <th>Domicilio</th>
                <th>Fecha</th>
                <th>Agendar</th>
            </tr>
        </thead>
        <tbody>
            {% if tramites %}
            {% for tramite in tramites %}
            <tr>
                <td class="col-xs-1">{{ tramite.id }}</td>
                <td class="col-xs-2">{{ tramite.propietario }}</td>
                <td class="col-xs-2">{{ tramite.profesional }}</td>
                <td class="col-xs-1">{{ tramite.medidas }}</td>
                <td class="col-xs-2">{{ tramite.tipo_obra }}</td>
                <td class="col-xs-1">{{ tramite.domicilio }}</td>
                <td class="col-xs-2">
                    <input class="mi-datepicker" readonly>
                </td>
                <td class="col-xs-1">
                    <button type="button" class="btn btn-primary btn-sm" name="Agendar" onclick="agregarHora(this);">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> Agendar</span>
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% endif%}
        </tbody>
    </table>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.mi-datepicker').each(function() {
          $(this).datepicker({
              changeMonth: true,
              changeYear: true,
              dateFormat: 'yy-mm-dd',
              showOn: "button",
              minDate: 0,
              minMonth: 0,
              inline: true,
              });
          $(this).datepicker("setDate", new Date());
        });
    });
    function agregarHora(boton){
        today = new Date();
        //Hora = today.getHours();
        Hora = 12;
        //Minutos = today.getMinutes();
        Minutos = 12;
        obs = $($(boton).parent().parent()).find('.mi-datepicker').val();
        fecha = obs+' '+Hora+':'+Minutos;
        id_tramite = $($(boton).parent().parent().find('td')[0]).text();
        url = '/persona/agendar_inspeccion_final/'+id_tramite+'/?msg='+fecha;
        location.href = url;
    }
    </script>
</div>
