{% load staticfiles %}

{% block contenido_tramite_inspeccion_final %}

    <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            {% if tramites %}
            <!-- Cabecera -->
            <thead>
                <tr>
                    <td>Profesional</td>
                    <td>Medidas</td>
                    <td>Tipo de Obra</td>
                    <td>Direccion obra</td>
                    <td>Agendar</td>
                </tr>
            </thead>
            <!-- Mostramos los datos de las tablas -->
            <tbody>
                {% for tramite in tramites %}
                    <tr>
                        <td>
                            {{ tramite.profesional.persona.nombre }}
                            {{ tramite.profesional.persona.apellido }}
                            {{ tramite.profesional.profesion }}
                            {{ tramite.profesional.matricula }}
                        </td>
                        <td>{{ tramite.medidas }}</td>
                        <td>{{ tramite.tipo_obra }}</td>
                        <td>{{ tramite.domicilio }}</td>
                        <td>
                              <button type="button" class="btn btn-primary" name="Agendar">
                                Agendar
                              </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <h4>No hay tramites con inspecciones</h4>
            {% endif%}
        </table>
    </div>
{% endblock %}
