{% load staticfiles %}

{% block contenido_tramite_aceptados %}

    <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            <!-- Cabecera -->
            {% if tramites %}
                <thead>
                        <th>Propietario</th>
                        <th>Profesional</th>
                        <th>Medidas</th>
                        <th>Tipo de Obra</th>
                        <th>Estado</th>
                        <th>Ver Inspecciones</th>
                </thead>
                <!-- Mostramos los datos de las tablas -->
                <tbody>
                    {% for tramite in tramites %}
                        <tr>
                            <td>{{ tramite.propietario }}</td>
                            <td>{{ tramite.profesional }} </td>
                            <td>{{ tramite.medidas }}</td>
                            <td>{{ tramite.tipo_obra }}</td>
                            <td>{{ tramite.estado }}</td>
                            <td>
                                <a href="{% url 'ver_inspecciones' pk_tramite=tramite.id %}">
                                  <button type="button" class="btn btn-primary btn-xs" name="Ver-Inspecciones">
                                    Ver-inspecciones
                                  </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </tbody>
            {% else %}
                <h4>No hay tramites con inspecciones</h4>
            {% endif%}
        </table>
    </div>
{% endblock %}
