/* CSS Document */


header {
	background:#2c3e50;
	color:#fff;
}


.color1 {
	background: #34495e;
	color:#fff;
}

.color2 {
	background: #0098db;
	color:#ffffff;
}

.color3 {
	background:#5cbde7;
	color:#fff;
}

footer {
	background:#268e37;
	color:#fff;
}

section {
	background:#5cbde7;
	color:#fff;
}





