{% load staticfiles %}

{% block contenido_profesional %}
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>CUIL</th>
        <th>Telefono</th>
        <th>Profesion</th>
        <th>Categoria</th>
        <th>Matricula</th>
        <th>Certificado</th>
        <!--th>Profesional</th-->
      </tr>
    </thead>
    <tbody>
      {% if personas %}
      {% for persona in personas %}
      <tr>
        <td class="col-xs-2">{{ persona.nombre }}</td>
        <td class="col-xs-2">{{ persona.apellido }} </td>
        <td class="col-xs-2">{{ persona.cuil }}</td>
        <td class="col-xs-1">{{ persona.telefono }}</td>
        <td class="col-xs-1">{{ persona.profesional.profesion }}</td>
        <td class="col-xs-1">{{ persona.profesional.categoria }}</td>
        <td class="col-xs-1">{{ persona.profesional.matricula }}</td>
        <td align="center" class="col-xs-1">
          <a href="{% url 'ver_un_certificado' pk_persona=persona.id %}">
            <button type="" class="btn btn-primary btn-xs" name="ver certificado">
              <span class="glyphicon glyphicon-search" aria-hidden="true"> Ver</span>
            </button>
          </a>
        </td>
        <!--td align="center" class="col-xs-1">
          <a href="{% url 'crear_usuario' pk_persona=persona.id %}">
            <button type="button" class="btn btn-primary btn-xs" name="habilitar">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"> Habilitar</span>
            </button>
          </a>
        </td-->
      </tr>
      {% endfor %}
      {% endif%}
    </tbody>
  </table>
</div>
{% endblock %}
