{% load staticfiles %}

{% block contenido_propietario %} 
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
          {% if personas %}
              <!-- Cabecera -->
              <thead>
                  <tr>
                      <td>Nombre</td>
                      <td>Apellido</td>
                      <td>CUIL</td>
                      <td>Telefono</td>
                      <td>Profesional nombre apellido matricula</td>
                      <td>Ver datos tramite</td>
                      <td>Habilitar propietario</td>
                  </tr>
              </thead>
              <!-- Mostramos los datos de las tablas -->
              <tbody>

                  {% for propietario in personas %}
                    <tr>
                      <td>{{ propietario.persona.nombre }}</td>
                      <td>{{ propietario.persona.apellido }} </td>
                      <td>{{ propietario.persona.cuil }}</td>
                      <td>{{ propietario.persona.telefono }}</td>
                      <td>
                            {{ propietario.tramite.profesional.persona.nombre }}
                            {{ propietario.tramite.profesional.persona.nombre }}
                            {{ propietario.tramite.profesional.matricula }}
                      </td>
                      <td>{{ propietario.tramite.id }}</td>
                      <td>
                        <a href="{% url 'crear_usuario' pk_persona=propietario.id %}">
                          <button type="button" class="btn btn-primary" name="habilitar">
                            Habilitar
                          </button>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
          {% else %}
            <h4>No hay propietarios para habilitar</h4>
          {% endif %}
      </table>
  </div>
{% endblock %}
