{% load staticfiles %}


{% block contenido_propietario %} 
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
          <!-- Cabecera -->
          <thead>
              <tr>
                  <td>Nombre</td>
                  <td>Apellido</td>
                  <td>CUIL</td>
                  <td>Telefono</td>
                  <td>Profesional nombre apellido matricula</td>
                  <td>Ver datos tramite</td>
                  <td>Habilitar propietario</td>
              </tr>
          </thead>
          <!-- Mostramos los datos de las tablas -->
          <tbody>
          {% if personas %}
              {% for persona in personas %}
                <tr>
                  <td>{{ persona.nombre }}</td>
                  <td>{{ persona.apellido }} </td>
                  <td>{{ persona.cuil }}</td>
                  <td>{{ persona.telefono }}</td>
                  <td>{{ persona.propietario.tramite.profesional.nombre }}
                        {{ persona.propietario.tramite.profesional.apellido }}
                        {{ persona.propietario.profesional.matricula }}
                  </td>
                  <td>{{ persona.propietario.tramite.id }}</td>
                  <td>
                    <a href="">
                      <button type="button" class="btn btn-primary" name="ver-tramite">
                        Ver tramite
                      </button>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'crear_usuario' pk_persona=persona.id %}">
                      <button type="button" class="btn btn-primary" name="habilitar">
                        Habilitar
                      </button>
                    </a>
                  </td>
                </tr>
              {% endfor %}
          {% endif%}
          </tbody>
      </table>
  </div>
{% endblock %}
