{% load staticfiles %}

{% block contenido_tramite %}

    <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            {% if tramites %}
                <!-- Cabecera -->
                <thead>
                    <tr>
                        <td>Propietario</td>
                        <td>Profesional</td>
                        <td>Medidas</td>
                        <td>Tipo de Obra</td>
                        <td>Estado</td>
                        <td>Ver documentacion</td>
                    </tr>
                </thead>
                <!-- Mostramos los datos de las tablas -->
                <tbody>

                    {% for tramite in tramites %}
                        <tr>
                            <td>{{ tramite.propietario }}</td>
                            <td>{{ tramite.profesional }} </td>
                            <td>{{ tramite.medidas }}</td>
                            <td>{{ tramite.tipo_obra }}</td>
                            <td>{{ tramite.estado }}</td>
                            <td>
                                <a href="{% url 'ver_documentos_tramite_administrativo' pk_tramite=tramite.id %}">
                                  <button type="button" class="btn btn-primary" name="Aceptar">
                                    Ver documentos
                                  </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            {% else %}
                <h4>No hay tramites para listar</h4>
            {% endif%}
        </table>
    </div>
{% endblock %}