{% load staticfiles %}

{% block contenido_tramite %}

    <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            <!-- Cabecera -->
            <thead>
                <tr>
                    <th>Nro de tramite</th>
                    <th>Propietario</th>
                    <th>Profesional</th>
                    <th>Medidas</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Ver documentacion</th>
                    <!---<th>Rechazar</th>
                    <th>Aceptar</th>-->
                </tr>
            </thead>
            <!-- Mostramos los datos de las tablas -->
            <tbody>
            {% if tramites %}
                {% for tramite in tramites %}
                    <tr>
                        <td class="col-xs-1">{{ tramite.id }}</td>
                        <td class="col-xs-3">{{ tramite.propietario }}</td>
                        <td class="col-xs-3">{{ tramite.profesional }} </td>
                        <td class="col-xs-1">{{ tramite.medidas }}</td>
                        <td class="col-xs-1">{{ tramite.tipo_obra }}</td>
                        <td class="col-xs-1">{{ tramite.estado }}</td>
                        <!---<td>
                            <a href="{% url 'aceptar_tramite' pk_tramite=tramite.id %}">
                              <button type="button" class="btn btn-primary btn-xs" name="Rechazar">
                                Rechazar
                              </button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'aceptar_tramite' pk_tramite=tramite.id %}">
                              <button type="button" class="btn btn-primary btn-xs" name="Aceptar">
                                Aceptar
                              </button>
                            </a>
                        </td>-->
                        <td align="center" class="col-xs-2">
                            <a href="{% url 'ver_documentos_tramite_administrativo' pk_tramite=tramite.id %}">
                              <button type="button" class="btn btn-primary btn-sm" name="Aceptar">
                                Ver documentos
                              </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif%}

            </tbody>
        </table>
    </div>
{% endblock %}