{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static perfil %}">
<style>
    *{font-family:Verdana, Arial, Helvetica, sans-serif}
    #lupa{
        width:300px;
        height:282px;
        position:relative;
        box-shadow: 5px 5px 5px rgba(50,50,50 0.5);
        overflow:hidden;
    }
    #im{
        position: relative;
        width: auto;
        height: auto;
    }
    #im0{
        cursor:crosshair;
        position: relative;
        width: auto;
        height: 200px;
        margin: 0 5% 0 auto;
        box-shadow: 1px 1px 5px rgba(50,50,50 0.5);
    }
</style>
{% endblock %}

{% block imagenusuario %}
<img src= "{{user.persona.perfilFoto.url}}" width=40 height=40 class="img-circle">
{% endblock %}

{% block barra %}
<div id="contenedor_botoncalapsable_sidebar">
	<button type="button" class="btn-collapsible-sidebar" onclick='mostrarBarra()' id="botonOn">
		<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
	</button>
</div>
<ul class="sidebar sidebar-1">
    <font size="2">
        <li><a href="javascript:history.back(-1);" class="current"><font>Administrativo</font></a></li>
    </font>
</ul>
{% endblock %}

{% block contenido %}
<div id="contenedor_botoncalapsable_resto"></div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
        <div class="panel-heading box" role="tab" id="headingFive">
            <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <font color="#ffffff" size="2">Datos del profesional</font>
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="panel-collapse colorp" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form action="" >
                                <div class="row" style="color:#fff;">
                                    <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <ol>
                                            <label>Nombre y Apellido:</label>
                                            <li> {{persona.nombre}} {{persona.apellido}}</li>
                                            <label>Profesión - Categoria:</label>
                                            <li> {{persona.profesional.profesion}} - {{persona.profesional.categoria}}</li>
                                            <label>Nro de matricula</label>
                                            <li> {{persona.profesional.matricula}}</li>
                                            <label>Nro de CUIL:</label>
                                            <li> {{persona.cuil}}</li>
                                            <label>Email:</label>
                                            <li> {{persona.mail}}</li>
                                        </ol>
                                    </div>
                                    <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="thumbnail ">
                                            <a id="single_image" href="/media/{{persona.profesional.certificado}}"  data-fancybox="images" data-caption="{{documento.tipo_documento}}">
                                                <img id="im0" src="/media/{{persona.profesional.certificado}}"  width=300 height=300>
                                            </a>
                                            <br>
                                            <p style="color: #17202a; font-style: oblique; text-align: center;">Mover el cursor sobre la imagen</p>
                                            <!--form action="">
                                                <p align="right" >
                                                    <a href="#" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-save"></i><span>Descargar</span></a>
                                                </p>
                                            </form-->
                                        </div>
                                    </div>
                                    <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="thumbnail ">
                                            <div id="lupa"><img  id="im" src="/media/{{ persona.profesional.certificado}}"/></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                                            <a href="{% url 'administrativo' %}">
                                                <button type="button" class="btn btn-primary" name="habilitar">
                                                    Volver
                                                </button>
                                            </a>
                                            <a href="{% url 'crear_usuario' pk_persona=persona.id %}">
                                                <button type="button" class="btn btn-primary" name="habilitar">
                                                    Habilitar
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
	<script>
		document.getElementById('id_boton_ayuda_2').style.visibility = 'hidden'
	</script>
    <script>
        function t(id){return document.getElementById(id);}
        function addEvent(obj,fun,type){
            if(obj.addEventListener){
                obj.addEventListener(type,fun,false);
            }else if(obj.attachEvent){
                var f=function(){
                    fun.call(obj,window.event);
                }
                obj.attachEvent('on'+type,f);
                obj[fun.toString()+type]=f;
            }else{
                obj['on'+type]=fun;
            }
        }
        function getPos(e){
            var ev=e || window.event;
            var obj=ev.target || ev.srcElement;
            obj.style.position='relative';
            posX=ev.layerX || ev.offsetX || 0;
            posY=ev.layerY || ev.offsetY || 0;
            return {x:posX,y:posY}
        }
        function css(id,prop){
            if(window.getComputedStyle){
                return document.defaultView.getComputedStyle(t(id),null).getPropertyValue(prop);
            }else{
                var re = /(-([a-z]){1})/g;
                if (prop == 'float') prop = 'styleFloat';
                if (re.test(prop)) {
                    prop = prop.replace(re, function () {
                        return arguments[2].toUpperCase();
                    });
                }
                return t(id).currentStyle[prop] ? t(id).currentStyle[prop] : null;
            }
        }
        function cambiar(pos,rel,e,a,a2,w,h){
            var al=parseInt(a);
            var al2=parseInt(a2);
            if(pos.x<(al/2)/rel)
                pos.x=(al/2)/rel;
            if(pos.y<(al2/2)/rel)
                pos.y=(al2/2)/rel;
            if(pos.x>(w)-(al/2)/rel)
                pos.x=(w)-(al/2)/rel;
            if(pos.y>(h)-(al2/2)/rel)
                pos.y=(h)-(al2/2)/rel;
            t('im').style.left=-(rel*pos.x)+(al/2)+'px';
            t('im').style.top=-(rel*pos.y)+(al2/2)+'px';
        }
        onload=function(){
            addEvent(
                t('im0'),
                function(e){
                    var al2=css('lupa','height');
                    var al=css('lupa','width');
                    var pos=getPos(e);
                    cambiar(pos,(t('im').width)/this.width,e,al,al2,this.width,this.height);
                },
                'mousemove'
            );
        }
    </script>

    <script>
        var c = document.getElementById("botonConfiguracion");
		c.style.display= '';
		var d = document.getElementById("imagenusuario");
		d.style.display= '';
    </script>
{% endblock %}
