{% load staticfiles %}

{% block contenido_tramite_estado %}
<div class="table-responsive">
	<table  class="table table-bordered table-striped table-hover" style="background: white;">
		<thead>
			<tr>
				<th style="vertical-align: middle;">Nro</th>
				<th style="vertical-align: middle;">Profesional</th>
				<th style="vertical-align: middle;">Estado</th>
				<th style="vertical-align: middle;">Superficie</th>
				<th style="vertical-align: middle;">Tipo</th>
				<th style="vertical-align: middle;">Monto total</th>
				<th style="vertical-align: middle;">Monto pagado</th>
				<th style="vertical-align: middle;">Historial</th>
				<th style="vertical-align: middle;">Aprobar</th>
				<th style="vertical-align: middle;">Final de obra</th>
			</tr>
		</thead>
		<tbody>
			{% if tramites_de_propietario %}
			{% for tramite in tramites_de_propietario %}
			<tr>
				<td class="col-xs-1">{{tramite.id}}</td>
				<td class="col-xs-2">{{tramite.profesional}}</td>
				<td class="col-xs-1">{{tramite.estado}}</td>
				<td class="col-xs-1">{{tramite.medidas}}</td>
				<td class="col-xs-1">{{tramite.tipo_obra}}</td>
				<td class="col-xs-1">{{tramite.monto_a_pagar}}</td>
				<td class="col-xs-1">{{tramite.monto_pagado}}</td>
				<td align="center" class="col-xs-1">
					<a href="{% url 'ver_historial_tramite' tramite.id %}">
						<button type="button" class="btn btn-primary btn-xs" name="ver-historial">
							<span class="glyphicon glyphicon-search" aria-hidden="true"> Ver</span>
						</button>
					</a>
				</td>
				{% if tramite.propietario_solicita_aprobar_tramite %}
				<td align="center" class="col-xs-1">
					<a href="{% url 'cargar_aprobacion_propietario' pk_tramite=tramite.id %}">
						<button type="button" class="btn btn-primary btn-xs" name="Solicitar aprobación">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% else %}
				<td align="center" class="col-xs-1">
					<a href="#">
						<button disabled type="button" class="btn btn-primary btn-xs" name="Solicitar aprobación">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% endif %}
				{% if tramite.propietario_solicita_final_de_obra %}
				<td align="center" class="col-xs-1">
					<a href="{% url 'cargar_final_de_obra_total_propietario' pk_tramite=tramite.id %}">
						<button type="button" class="btn btn-primary btn-xs" name="solicita_final_obra">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% else %}
				<td align="center" class="col-xs-1">
					<a href="#">
						<button disabled type="button" class="btn btn-primary btn-xs" name="solicita_final_obra">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
			{% endif%}
		</tbody>
	</table>
</div>
{% endblock %}
