{% load staticfiles %}

{% block contenido_tramite_estado %}
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
          <!-- Cabecera -->
          <thead>
              <tr>
                  <th>Profesional</th>
                  <th>Estado</th>
                  <th>Medidas</th>
                  <th>Tipo</th>
                  <th>Monto total a pagar</th>
                  <th>Total pagado</th>
                  <th>Total a pagar</th>
                  <th>Final obra</th>
                  <th>historial tramite</th>
              </tr>
          </thead>
          <!-- Mostramos los datos de las tablas -->
          <tbody>
          {% if tramites_de_propietario %}
              {% for tramite in tramites_de_propietario %}
                <tr>
                  <td class="col-xs-2">{{tramite.profesional}}</td>
                  <td class="col-xs-1">{{tramite.estado}}</td>
                  <td class="col-xs-1">{{tramite.medidas}}</td>
                  <td class="col-xs-2">{{tramite.tipo_obra}}</td>
                  <td class="col-xs-2">{{tramite.monto_a_pagar}}</td>
                  <td class="col-xs-2">{{tramite.monto_pagado}}</td>
                  <td class="col-xs-2">{{ tramite.saldo_restante_a_pagar}}</td>
                  <td align="center" class="col-xs-2">
                        <a href="{% url 'profesional_solicita_final_obra' pk_tramite=tramite.id %}">
                          <button type="button" class="btn btn-primary btn-xs" name="ver-certificado">
                            Final obra
                          </button>
                        </a>
                  </td>
                  <td align="center" class="col-xs-2">
                    <a href="{% url 'ver_historial_tramite' pk_tramite=tramite.id %}">
                      <button type="button" class="btn btn-primary btn-xs" name="ver-historial">
                        Historial del tramite
                      </button>
                    </a>
                  </td>
                </tr>
              {% endfor %}
          {% endif%}
          </tbody>
      </table>
  </div>
{% endblock %}
