{% extends 'base.html' %}
{% load staticfiles %}

{% block barra %}
<ul class="sidebar sidebar-1">
	<font size="2">
		<li><a class="current"><font color="tomato">Propietario</font> </a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Modificar mis datos personales</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Solicitar final de obra a un Trámite</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Consultar estado de mis tramites</a></li>
	</font>
</ul>
{% endblock %}


{% block contenido %}
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-custom">
			<div class="panel-heading panel-heading-custom box" role="tab" id="headingOne">
			  <h5 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				  <font color="#ffffff" size="2">Modificar mis datos personales</font>
				</a>
			  </h5>
			</div>
			 <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			  <div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="container-fluid">
							<br>
								<form action="" class="" >
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
												<div class="form-group">
													<label for="telefono">Nro. de teléfono:</label>
													<input class="form-control input-sm" id="" name="" type="text" placeholder="Ingresar Nro de telefono" title="Ingresar nuevo Nro de telefono" maxlength="13" autofocus />
												</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
												<div class="form-group">
													<label for="">E-Mail:</label>
													<input class="form-control input-sm" id="" name="" type="email" placeholder="Ingresar e-mail" title="Ingresar nuevo e-mail" maxlength="20" />
												</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<label for="">Cambiar Foto de perfil:</label>
											<br>
											<input class="file" id="perfil" type="file" data-preview-file-type="any" title="Cargar nueva foto de perfil">
										</div>
									</div>
									<div class="container-fluid">
										<br>
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
												<button class="btn btn-primary btn-sm" type="submit" title="Enviar modificación de mis datos">
													Modificar mis datos
												</button>
												<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
													Limpiar
												</button>
											</div>
										</div>
									</div>
								</form>
								<br>
							</div>
						</div>
					</div>
				</div>
			  </div>
			</div>
		  </div>

		  <div class="panel panel-custom">
			<div class="panel-heading panel-heading-custom box" role="tab" id="headingFive">
			  <h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				  <font color="#ffffff" size="2">Solicitar final de obra a un Trámite</font>
				</a>
			  </h5>
			</div>
			<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
			  <div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="container-fluid">
								<br>
								<form action="" class="" >
									<div class="row">
										<div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<div class="form-group">
												<label for="">Nro de trámite:</label>
												<input class="form-control input-sm" id="" name="" type="text" placeholder="Ingresar Nro. de trámite" title="Ingresar Nro. de trámite" required />
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
											<div class="form-group">
												<label for="">Constancia de CACH:</label>
												<input class="file" id="final"  type="file" data-preview-file-type="any" title="Cargar constancia de CACH" required />
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										</div>
									</div>
									<div class="container-fluid">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
												<button class="btn btn-primary btn-sm" type="submit" title="Envia solicitud de final de obra">
													Solicitar final de obra
												</button>
												<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
													Limpiar
												</button>
											</div>
										</div>
									</div>
								</form>
								<br>
							</div>
						</div>
					</div>
				</div>
			  </div>
			</div>
		  </div>

		  <div class="panel panel-custom">
			<div class="panel-heading panel-heading-custom box" role="tab" id="headingFour">
			  <h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				  <font color="#ffffff" size="2">Consultar estado de mis Trámites</font>
				</a>
			  </h5>
			</div>
			<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

								{% block contenido_tramite_estado %}
									{% include "persona/propietario/consultar_estado_tramite_propietario.html" with tramites_de_propietario=ctxtramitespropietario %}
								{% endblock %}

							</div>
					</div>
				</div>
			 </div>
		   </div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}

	<script>
		$("#perfil").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar nueva foto de perfil',
			showUpload: false,
			showRemove: false
		});
	</script>

	<script>
		$("#final").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar constancia de CACH',
			showUpload: false,
			showRemove: false
		});
	</script>
{% endblock %}
