{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static perfil %}">
{% endblock %}

{% block imagenusuario %}
<img src= "{{user.persona.perfilFoto.url}}" width=40 height=40 class="img-circle">
{% endblock %}

{% block barra %}
<div id="contenedor_botoncalapsable_sidebar">
	<button type="button" class="btn-collapsible-sidebar" onclick='mostrarBarra()' id="botonOn">
		<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
	</button>
</div>
<ul class="sidebar sidebar-1">
    <font size="2">
        <li><a href="{% url 'propietario'  %}" class="current"><font>Propietario</font></a></li>
    </font>
</ul>
{% endblock %}

{% block contenido %}
<div id="contenedor_botoncalapsable_resto"></div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
        <div class="panel-heading box" role="tab" id="headingFive">
            <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <font color="#ffffff" size="2">Historial del tramite</font>
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            {% if tramite.tramite %}
                            <ol>
                                <label>Tramite nro:</label>
                                <li>{{tramite.tramite.id}}</li>
                                <label>Profesional:</label>
                                <li>{{tramite.tramite.profesional}}</li>
                                <label>Superficie:</label>
                                <li>{{tramite.tramite.medidas}}</li>
                                <label>Tipo de obra:</label>
                                <li>{{tramite.tramite.tipo_obra}}</li>
                                <label>Estado actual:</label>
                                <li>{{tramite.tramite.estado}}</li>
                            </ol>
                            {% endif%}
                        </div>
                        <el class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <canvas id="myChart" height=143></canvas>
                        </el>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table  class="table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Estado</th>
                                            <th>Usuario</th>
                                            <th>Fecha</th>
                                            <th>Progreso</th>
                                            <th>Ver</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if estadosp %}
                                        {% for estado in estadosp.estados_del_tramite %}
                                        <tr>
                                            <td class="col-xs-1" align="center">{{estado.tipo}}</td>
                                            <td class="col-xs-2">{{estado.usuario}}</td>
                                            <td class="col-xs-2">{{estado.timestamp}}</td>
                                            <td class="col-xs-6" >
                                                <div class="progress">
                                                    <div id="{{estado.tipo}} - {{estado.timestamp}}" class="progress-bar progress-bar-success"  role="progressbar" style="width:0%;">
                                                        <span>%</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td align="center" class="col-xs-1">
                                                <a href="{% url 'documentos_de_estado' estado.id%}">
                                                    <button type="button" class="btn btn-primary btn-xs" name="detalle">
                                                        <span class="glyphicon glyphicon-search" aria-hidden="true"> Documentos</span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif%}
                                    </tbody>
                                </table>
                                <br>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                            <a href="javascript:history.back(-1);">
                                <button type="button" class="btn btn-primary" name="Volver">
                                    Volver
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        $("[id^='1 -']").css('width', 5 + '%');
        $("[id^='2 -']").removeClass("progress-bar-success");
        $("[id^='2 -']").addClass("progress-bar-danger");
        $("[id^='2 -']").css('width', 0 + '%');
        $("[id^='3 -']").css('width', 5 + '%');
        $("[id^='4 -']").css('width', 10 + '%');
        $("[id^='5 -']").removeClass("progress-bar-success");
        $("[id^='5 -']").addClass("progress-bar-danger");
        $("[id^='5 -']").css('width', 10 + '%');
        $("[id^='6 -']").css('width', 15 + '%');
        $("[id^='7 -']").css('width', 20 + '%');
        $("[id^='8 -']").css('width', 25 + '%');
        $("[id^='9 -']").removeClass("progress-bar-success");
        $("[id^='9 -']").addClass("progress-bar-danger");
        $("[id^='9 -']").css('width', 25 + '%');
        $("[id^='10 -']").css('width', 30 + '%');
        $("[id^='11 -']").css('width', 35 + '%');
        $("[id^='12 -']").css('width', 40 + '%');
        $("[id^='13 -']").css('width', 50 + '%');
        $("[id^='14 -']").css('width', 60 + '%');
        $("[id^='15 -']").css('width', 45 + '%');
        $("[id^='16 -']").css('width', 50 + '%');
        $("[id^='17 -']").css('width', 55 + '%');
        $("[id^='18 -']").css('width', 60 + '%');
        $("[id^='19 -']").removeClass("progress-bar-success");
        $("[id^='19 -']").addClass("progress-bar-danger");
        $("[id^='19 -']").css('width', 60 + '%');
        $("[id^='20 -']").css('width', 65 + '%');
        $("[id^='21 -']").css('width', 70 + '%');
        $("[id^='22 -']").css('width', 75 + '%');
        $("[id^='23 -']").css('width', 80 + '%');
        $("[id^='24 -']").css('width', 80 + '%');
        $("[id^='25 -']").css('width', 80 + '%');
        $("[id^='26 -']").removeClass("progress-bar-success");
        $("[id^='26 -']").addClass("progress-bar-danger");
        $("[id^='26 -']").css('width', 80 + '%');
        $("[id^='27 -']").css('width', 85 + '%');
        $("[id^='28 -']").css('width', 90 + '%');
        $("[id^='29 -']").css('width', 195 + '%');
        $("[id^='30 -']").css('width', 100 + '%');
        $("[id^='31 -']").css('width', 90 + '%');
        $("[id^='32 -']").css('width', 95 + '%');
        $("[id^='33 -']").removeClass("progress-bar-success");
        $("[id^='33 -']").addClass("progress-bar-danger");
        $("[id^='33 -']").css('width', 100 + '%');
    </script>

    <script>
        var timeFormat = 'DD/MM/YYYY';
        var datos = [];
        var label_fechas = [];

        {% for est in estadosp.estados_del_tramite %}
          datos.push({{est.tipo}});
        {% endfor %}

        {% for fe in fecha %}
            label_fechas.push("{{fe}}");
        {% endfor %}

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: label_fechas,
                datasets: [{
                label: 'Estado',
                data: datos,
                borderColor: "#273746",
                borderWidth: 3,
                lineTension: 0.3,
                pointBorderColor: 'red',
                pointBackgroundColor: 'red',
                fill:false,
            }]
            },
            options: {
                responsive: true,
                legend: {
                    display: false
                },
                title:{
                    display:true,
                    text:'Historial de estados del tramite n° {{tramite.tramite.id}}',
                    fontSize: 14,
                    padding: 14,
                    fontColor:"#273746",
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                            format: timeFormat,
                            unit: 'week',
                        },
                        scaleLabel: {
                            display: false,
                            labelString: 'Fecha',
                        },
                         ticks: {
                            fontColor:"#273746",
                        },
                        gridLines:{
                            color:"#eaecee",
                            zeroLineColor: "#273746",
                            zeroLineWidth: 2,
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                        },
                        ticks: {
                            min: 0,
                            max: 34,
                            fontSize: 7,
                            stepSize: 1,
                            fontColor:"#273746",
                        },
                        gridLines:{
                            color:"#eaecee",
                            zeroLineColor: "#273746",
                            zeroLineWidth: 1,
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var c = document.getElementById("botonConfiguracion");
		c.style.display= '';
		var d = document.getElementById("imagenusuario");
		d.style.display= '';
    </script>
{% endblock %}



