{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static perfil %}">
{% endblock %}

{% block imagenusuario %}
<img src= "{{user.persona.perfilFoto.url}}" width=40 height=40 class="img-circle">
{% endblock %}

{% block barra %}
<div id="contenedor_botoncalapsable_sidebar">
    <button type="button" class="btn-collapsible-sidebar" onclick='mostrarBarra()' id="botonOn">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </button>
</div>
<ul class="sidebar sidebar-1">
    <font size="2">
        <li><a href="javascript:history.back(-1);" class="current"><font>Director</font></a></li>
    </font>
</ul>
{% endblock %}

{% block contenido %}
<div id="contenedor_botoncalapsable_resto"></div>
<div class="panel-group">
	<div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box">
			<h5 class="panel-title">
				<a>
					<font color="#ffffff" size="2">Datos del tramite</font>
				</a>
			</h5>
		</div>
		<div class="panel-collapse colorp">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-condensed" style="background: white;">
									<thead>
										<tr>
											<th>Nro</th>
											<th>Visador</th>
                                            <th>DNI</th>
											<th>Tipo de obra</th>
											<th>Profesional</th>
											<th>Propietario</th>
											<th>Superficie</th>
										</tr>
									</thead>
									<tbody>
										{% if estado %}
										<tr>
											<td class="col-xs-1">{{ estado.tramite.id}}</td>
											<td class="col-xs-1">{{ estado.usuario}}</td>
                                            <td class="col-xs-1">{{ estado.usuario.persona.dni}}</td>
											<td class="col-xs-2">{{ estado.tramite.tipo_obra }} </td>
											<td class="col-xs-2">{{ estado.tramite.profesional}}</td>
											<td class="col-xs-2">{{ estado.tramite.propietario}}</td>
											<td class="col-xs-1">{{ estado.tramite.medidas }} </td>
										</tr>
										{% endif%}
									</tbody>
								</table>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box">
			<h5 class="panel-title">
				<a>
					<font color="#ffffff" size="2">Seleccionar nuevo visador para el tramite</font>
				</a>
			</h5>
		</div>
		<div class="panel-collapse colorp">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								<form onLoad="myOnLoad()">
									<label> Seleccionar visador</label>
									<select class="form-control input-sm" id="usuarios" title="Selecciona inspector" onchange="cargarUsuarioSeleccionado()">
										<option value=""> ¿Que visador desea seleccionar? </option>
									</select>
								</form>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<form action= ""  method="post" enctype="multipart/form-data"> {% csrf_token %}
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<!--div class="form-group">
										<label>Usuario:</label>
										<input class="form-control input-sm" id="usuarioUsuarioS" name="usuarioUsuarioS" type="text" placeholder="Usuario seleccionado" title="Usuario seleccionado"  disabled/>
										<br>
									</div-->
									<div class="form-group" style="display: none">
									<!--div class="form-group" style=""-->
										<label>Id:</label>
										<input class="form-control input-sm" id="idusuarioUsuarioS" name="idusuarioUsuarioS" type="text" placeholder="Id Usuario seleccionado" title="Id usuario seleccionado" >
										<br>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<!--div class="form-group">
										<label>Nombre:</label>
										<input class="form-control input-sm" id="nombreUsuarioS" name="nombreUsuarioS" type="text" placeholder="Nombre del usuario seleccionado" title="Nombre del usuario seleccionado"  disabled/>
										<br>
									</div-->
								</div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<!--div class="form-group">
										<label>Apellido:</label>
										<input class="form-control input-sm" id="apellidoUsuarioS" name="apellidoUsuarioS" type="text" placeholder="Apellido del usuario seleccionado" title="Apellido del usuario seleccionado"  disabled/>
										<br>
									</div-->
								</div>
								<!--br-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" id="id_contenedor_boton_cambiar-grupo">
									<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario" onclick="eliminarTodos()">
										Limpiar
									</button>
									<button class="btn btn-primary btn-sm" type="post" title="Cambiar visador de inspeccion" name="cambiar_visador">
										Cambiar visador
									</button>
								</div>
							</form>
							<br>
						</div>
					</div>
				</div>
			<br>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        var c = document.getElementById("botonConfiguracion");
		c.style.display= '';
		var d = document.getElementById("imagenusuario");
		d.style.display= '';
    </script>

	<script>
		usuarios = [];
		$(document).ready(function() {
			{% for dtu in visadores %}
				usuarios.push("{{dtu.persona.dni}} - {{dtu.persona}}");
			{% endfor %}
			usuarios.sort();
			for(var i=0; i < usuarios.length; i++){
				var option = document.createElement("option");
				$(option).html(usuarios[i]);
				$(option).appendTo("#usuarios");
			}
			//document.getElementById("usuarioUsuarioS").value = '';
			//document.getElementById("nombreUsuarioS").value = '';
			//document.getElementById("apellidoUsuarioS").value = '';

		});

		function cargarUsuarioSeleccionado() {
			usuario_filtrado_usuario = [];
			usuario_filtrado_pk = [];
			usuario_filtrado_nombre = [];
			usuario_filtrado_apellido = [];
    		var x = document.getElementById("usuarios").value;
    		var res = x.split(" - ");
			{% for uf in visadores %}
				if ("{{uf.persona.dni}}" == res[0]){
					usuario_filtrado_usuario.push("{{uf}}");
					usuario_filtrado_pk.push({{uf.id}});
					//usuario_filtrado_nombre.push("{{uf.persona.nombre}}");
					//usuario_filtrado_apellido.push("{{uf.persona.apellido}}");
				}
			{% endfor %}
			//document.getElementById("usuarioUsuarioS").value = usuario_filtrado_usuario[0];
			document.getElementById("idusuarioUsuarioS").value = usuario_filtrado_pk[0];
			//document.getElementById("nombreUsuarioS").value = usuario_filtrado_nombre[0];
			//document.getElementById("apellidoUsuarioS").value = usuario_filtrado_apellido[0];
 		}

		function eliminarTodos(){
			document.getElementById("usuarios").value = ''
		}

	</script>
{% endblock %}
