{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static perfil %}">
<style>
	/* Style the button that is used to open and close the collapsible content */
	.collapsible {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
	}
	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	.active, .collapsible:hover {
		background-color: #ccc;
	}
	/* Style the collapsible content. Note: hidden by default */
	.content {
		padding: 0 18px;
		display: none;
		overflow: hidden;
		background-color: #f1f1f1;
	}
	.label-danger,.label-success, .label-default{
		font-size: 90%;
	}
</style>
{% endblock %}

{% block imagenusuario %}
<img src= "{{user.persona.perfilFoto.url}}" width=40 height=40 class="img-circle">
{% endblock %}

{% block barra %}
<div id="contenedor_botoncalapsable_sidebar">
	<button type="button" class="btn-collapsible-sidebar" onclick='mostrarBarra()' id="botonOn">
		<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
	</button>
</div>
<ul class="sidebar sidebar-1">
	<font size="2">
		<li><a href="#" class="current"><font>Director</font></a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick='mostrarSubmenu("tareasUsuario"),opcionesUsuario("nada")'>Usuarios <span class="caret"></span></a></li>
		<ul class="sidebar sidebar-2" style="display:none;" id="tareasUsuario">
			<li><a href="#" onclick='opcionesUsuario("alta_usuario")'>Crear Usuario</a></li>
			<li><a href="#" onclick='opcionesUsuario("modificar_usuario_grupo")'>Cambiar usuario de grupo</a></li>
			<li><a href="#" onclick='opcionesUsuario("baja_usuarios")'>Activar/desactivar usuarios</a></li>
		</ul>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("tareasTramite"),opcionesDatosTramite("nada")'>Datos tramite <span class="caret"></span></a></li>
		<ul class="sidebar sidebar-2" style="display:none;" id="tareasTramite">
			<li><a href="#" onclick='opcionesDatosTramite("alta_tipo_documento")'>Crear tipo de documento</a></li>
			<li><a href="#" onclick='opcionesDatosTramite("tipos_de_documento")'>Modificar tipo de documento</a></li>
			<li><a href="#" onclick='opcionesDatosTramite("alta_tipo_de_obra")'>Crear tipo de obra</a></li>
		</ul>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick='mostrarSubmenu("sin_submenu")'>Cambiar visador de tramite</a></li>
        <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" onclick='mostrarSubmenu("sin_submenu")'>Cambiar inspector de inspección</a></li>
        <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick='mostrarSubmenu("tareasDatosPersonales"),opcionesDatosPersonales("nada")'>Mis datos <span class="caret"></span></a></li>
		<ul class="sidebar sidebar-2" style="display:none;" id="tareasDatosPersonales">
			<li><a href="#" onclick='opcionesDatosPersonales("alta_datos_personales")'>Datos personales</a></li>
			<li><a href="#" onclick='opcionesDatosPersonales("alta_contrasenia")'>Contraseña</a></li>
		</ul>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" onclick='mostrarSubmenu("consultasInformes")'>Listados y Reportes<span class="caret"></span></a></li>
		<ul class="sidebar sidebar-2" style="display:none;" id="consultasInformes">
			<li><a href="vista_de_tramites">Listado tramites</a></li>
			<li><a href="director/listado_profesionales">Listado Profesionales</a></li>
			<li><a href="director/listado_propietarios">Listado Propietarios</a></li>
			<li><a href="vista_de_usuarios">Listado Empleados</a></li>
			<li><a href="reporte_de_tramites_por_tipo">Reporte de Tramites</a></li>
			<li><a href="{% url 'reporte_boxplot'%}"> Reporte Caja y Bigotes</a></li>
			<li><a href="reporte_de_correciones_profesional">Reporte Correcciones</a></li>
		</ul>
	</font>
</ul>
{% endblock %}

{% block contenido %}
<div id="contenedor_botoncalapsable_resto"></div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
	<div class="panel">
		<div class="panel-heading box" role="tab" id="headingFive">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick='mostrarSubmenu("tareasUsuario")'>
					<font color="#ffffff" size="2">Usuarios</font>
				</a>
			</h5>
		</div>
		<div id="collapseFive" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingFive">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<select class="form-control input-sm " id="opcionesDelUsuario" name="Opciones de usuario" onChange="opcionesUsuario(this.value);">
									<option selected value="nada"> ¿Que desea hacer? </option>
									<option value="alta_usuario">Crear Usuario</option>
									<option value="modificar_usuario_grupo">Cambiar usuario de grupo</option>
									<option value="baja_usuarios">Activar/desactivar usuario</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_usuario" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div style="display:none">
								{% block alta_administrativo %}
								{% crispy usuario_persona_form %}
								{% endblock %}
							</div>
							<form method="post" enctype="multipart/form-data"> {% csrf_token %}
								<div id="persona_administrativo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
								<div id="profesional_administrativo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
								<div id="usuario_administrativo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
								<div id="boton_administrativo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
									<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
										Limpiar
									</button>
								</div>
								<br>
							</form>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="modificar_usuario_grupo" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<form action= ""  method="post" enctype="multipart/form-data"> {% csrf_token %}
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<label>Usuarios actuales:</label>
									<table class="table-bordered table-hover table-condensed col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!--Esta tabla no lleva tbody ni thead por cuesitones de tamaño y de visualizacion!-->
										<thead>
										<tr style="background-color: rgb(39, 55, 70); color:white;">
											<th>Nombre de usuario</th>
										</tr>
										</thead>
										<tbody>
											{% for usuario in datos_usuario %}
												<tr style="cursor: pointer;" onclick='agregarGruposUsuario("{{usuario.id}}", "{{usuario}}");'>
													<td>{{usuario}}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<div class="form-group">
										<label>Grupos actuales:</label>
										<select id='gruposActuales' class="form-control" title="Grupos asignados al usuario" size="12" style="height: 111px;" disabled>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
									<div class="form-group" id="id_contenedor_grupos_disponibles"></div>
								</div>
								<br>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right" id="id_contenedor_boton_cambiar-grupo">
									<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario" onclick="eliminarTodosLosGrupos()">
										Limpiar
									</button>
								</div>
								{% block modificar_grupo_usuario %}
								{% crispy usuario_grupo_form %}
								{% endblock %}
							</form>
							<br>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="baja_usuarios" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<table class="table table-stripped table-bordered">
								<thead>
									<tr style="">
										<th>Nombre de Usuario</th>
										<th>Grupo</th>
										<th>Email</th>
										<th >Estado</th>
									</tr>
								</thead>
								<tbody>
									{% for usuario in lista_usuarios %}
									<tr>
										<td>{{usuario.username}}</td>

										{% if usuario.groups.values %}
											{% for grupo in usuario.groups.values %}
												<td>{{grupo.name}}</td>
											{% endfor %}
										{% else %}
											<td>-</td>
										{% endif %}
										{% if usuario.email %}
											<td>{{usuario.email}}</td>
										{% else %}
											<td>-</td>
										{% endif %}
										{% if usuario.relacionado %}
											<td align="center">
												<a style="width:50px;" class="label label-default" href="#" data-toggle="tooltip" data-html="true" title="{{usuario.descripcion}}">Asignado</a>
											</td>
										{% elif usuario.is_active %}
											<td align="center">
												<a class="label label-success" href="#" onclick='alta_baja_usuarios("{{usuario.id}}","{{usuario}}",true)'>Activo</a>
											</td>
										{% else %}
											<td align="center">
												<a class="label label-danger" href="#" onclick='alta_baja_usuarios("{{usuario.id}}","{{usuario}}",false)'>Inactivo</a>
											</td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel">
		<div class="panel-heading box" role="tab" id="headingTwo">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("tareasTramite")'>
					<font color="#ffffff" size="2">Datos Trámite</font>
				</a>
			</h5>
		</div>
		<div id="collapseTwo" class="colorp panel-collapse
		{% if submit_name != 'tipo_documento_submit' and submit_name != 'tipo_obra_submit' %}collapse{% endif %}
		" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<select class="form-control input-sm" id="opcionesDelTramite" name="Opciones de Datos del tramite" onChange="opcionesDatosTramite(this.value);">
									<option selected value="nada"> ¿Que desea hacer? </option>
									<option value="alta_tipo_documento">Crear tipo de documento</option>
									<option value="tipos_de_documento">Modificar tipo de documento</option>
									<option value="alta_tipo_de_obra">Crear tipo de obra</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_tipo_documento" {% if submit_name != 'tipo_documento_submit' %}class="hide"{% endif %} style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display:none">
								{% block alta_tipo_documento %}
								{% crispy tipo_documento_form %}
								{% endblock %}
							</div>
							<form method="post" enctype="multipart/form-data"> {% csrf_token %}
								<div id="tipo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
								<div id="requerido_para" class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
								<div id="boton_tipo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
									<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
										Limpiar
									</button>
								</div>
								<br>
							</form>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="tipos_de_documento" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{% block tipos_de_documento %}
									{% include "tipos/tipo_documento/listado_tipos_de_documento_director.html" with tipos_de_documento=tipos_de_documento %}
								{% endblock %}
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_tipo_de_obra" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="display:none">
								{% block alta_tipo_de_obra %}
								{% crispy tipo_obra_form %}
								{% endblock %}
							</div>
							<form method="post" enctype="multipart/form-data"> {% csrf_token %}
								<div id="nombre_tipo_obra" class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
								<div id="desc_tipo_obra" class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
								<div id="categoria_tipo_obra" class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
								<div id="boton_tipo_obra" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
									<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
										Limpiar
									</button>
								</div>
								<br>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel">
		<div class="panel-heading box" role="tab" id="headingThree">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick='mostrarSubmenu("sin_submenu")'>
					<font color="#ffffff" size="2">Cambiar visador de trámite</font>
				</a>
			</h5>
		</div>
		<div id="collapseThree" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingThree">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{% block contenido_cambiar_visador_de_tramite %}
							{% include "persona/director/visadores_con_visado_agendado.html" with estados=ctxvisadorescontramitesagendados%}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="panel">
		<div class="panel-heading box" role="tab" id="headingSeven">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" onclick='mostrarSubmenu("sin_submenu")'>
					<font color="#ffffff" size="2">Cambiar inspector de inspección</font>
				</a>
			</h5>
		</div>
		<div id="collapseSeven" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingSeven">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{% block contenido_cambiar_inspectores_de_inspeccion %}
							{% include "persona/director/inspectores_con_inspeccion_agendada.html" with estados=ctxinspectoresconinspeccionesagendadas%}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel">
		<div class="panel-heading box" role="tab" id="headingSix">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick='mostrarSubmenu("tareasDatosPersonales")'>
					<font color="#ffffff" size="2">Mis datos</font>
				</a>
			</h5>
		</div>
		<div id="collapseSix" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingSix">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<select class="form-control input-sm" id="opcionesDeDatosPersonales" name="Opciones de Datos Personales" onChange="opcionesDatosPersonales(this.value);">
									<option selected value="nada"> ¿Que desea hacer? </option>
									<option value="alta_datos_personales">Modificar datos personales</option>
									<option value="alta_contrasenia">Modificar contrasena</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_datos_personales" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="container-fluid">
								<form method='POST' action='' enctype="multipart/form-data">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_datos_usuario"></div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_datos_usuario_dos"></div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_foto_perfil_usuario"></div>
									</div>
									<div id="contenedor_boton_cambia_datos" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
										<button  class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario" onclick="limpiar1()">
											Limpiar
										</button>
									</div>
									{% block modificar_datospersonales_usuario %}
									{% crispy usuario_datospersonales_form %}
									{% endblock %}
									<br>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_contrasenia" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="container-fluid">
								<form method='POST' action='' enctype="multipart/form-data">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_datos_pass1"></div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_datos_pass2"></div>
									</div>
									<div id="contenedor_boton_cambia_pass" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
										<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario" onclick="limpiar1()">
											Limpiar
										</button>
									</div>
									{% block usuario_contrasenia_form %}
									{% crispy usuario_contrasenia_form %}
									{% endblock %}
									<br>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel" style="display: none;">
		<div class="panel-heading box" role="tab" id="headingNine">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" onclick='mostrarSubmenu("sin_submenu")'>
					<font color="#ffffff" size="2">Consultas e Informes</font>
				</a>
			</h5>
		</div>
		<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModalc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h4 align="center">
				<strong>Confirmar<strong>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
		</h4>
		</div>
		<div class="modal-body" style="text-align:center">
			<h5 id="opcionCuerpo"></h5>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			<button type="button" class="btn btn-primary" onclick="submit();">Confirmar</button>
		</div>
		</div>
	</div>
	</div>
	<form action="{% url 'alta_baja_usuarios' %}" method="POST" style="display:none" id="formAltaBaja">{%csrf_token%}
		<input type="text" name="id_form_usuario" id="id_form_usuario" value=" ">
		<input type="text" name="id_form_opcion" id="id_form_opcion" value=" ">
	</form>

{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$('#id_boton_ayuda_2').hide();
		$('#id_boton_ayuda').show();
		$('#id_boton_ayuda').click(function() {
			nombre_colapsable = $(".panel-collapse[aria-expanded='true']");
			if (nombre_colapsable.length>0){
				nombre_colapsable = $(nombre_colapsable).parent().find('.panel-title a')[0].innerText;

				if (nombre_colapsable == "Usuarios"){
						descripcion = $('#opcionesDelUsuario').val();
						if (descripcion == 'alta_usuario') {
							window.open("{% url 'manual' 'archivos/crear_usuarios.html' %}", '_blank');
						}
						if (descripcion == 'modificar_usuario_grupo'){
							window.open("{% url 'manual' 'archivos/cambiar_usuario_grupo.html' %}", '_blank');
						}
						if(descripcion == 'baja_usuarios'){
							window.open("{% url 'manual' 'archivos/alta_baja.html' %}", '_blank');
						}
				}
				else if (nombre_colapsable == 'Datos Trámite'){
						descripcion = $('#opcionesDelTramite').val();
						alert(descripcion)
						if (descripcion == 'alta_tipo_documento') {
							window.open("{% url 'manual' 'archivos/crear_tipo_documento.html' %}", '_blank');
						}
						if (descripcion == 'tipos_de_documento'){
							//falta la documentacion hacerla
							//window.open("{% url 'manual' 'archivos/.html' %}", '_blank');
						}
						if (descripcion == 'alta_tipo_de_obra') {
							window.open("{% url 'manual' 'archivos/crear_tipo_obra.html' %}", '_blank');

						}
				}
				else if (nombre_colapsable == 'Cambiar visador de trámite') {
						window.open("{% url 'manual' 'archivos/cambiar_visador_tramite.html' %}", '_blank');
				}
				else {
						descripcion = $('#opcionesDeDatosPersonales').val();
						if (descripcion == 'alta_datos_personales') {
							window.open("{% url 'manual' 'archivos/datos_personales.html' %}", '_blank');
						}
						if (descripcion == 'alta_contrasenia'){
							window.open("{% url 'manual' 'archivos/cambiar_contraseña.html' %}", '_blank');
						}
				}
			}
			else{
				window.open("{% url 'manual' 'index.html' %}", '_blank');
			}
		});
	</script>
	<script type="text/javascript">
		$('[data-toggle="tooltip"]').tooltip();
		$('#id_usuario_seleccionado').hide();
		$("label[for=id_usuario_seleccionado]").hide();

		function alta_baja_usuarios(id_usuario, usuario, indicador){
			if(indicador)
				abrir_modal(id_usuario,usuario,"Baja");
			else
				abrir_modal(id_usuario,usuario,"Alta");
		}

		function abrir_modal(id_usuario,usuario,indicador){
			llenarOpciones(id_usuario,indicador);
			$('#opcionCuerpo').html("Esta seguro que desea dar de <strong>"+indicador+"</strong> al usuario <strong>"+usuario+"</strong> ?");
			$('#exampleModalc').modal('toggle');
		}

		function llenarOpciones(id_usuario, indicador){
			$("#id_form_usuario").val(id_usuario);
			$("#id_form_opcion").val(indicador);
		}
		function submit(){
			$('#formAltaBaja').submit();
		}
		function blanquearBoxSelect() {
			$('#gruposActuales').find('option').remove().end()
		}

		function agregarGruposUsuario(id, usuario) {
			blanquearBoxSelect();
			$("#id_usuario_seleccionado").val(usuario);
			$.ajax({
				url:'{% url "get_grupos_usuario" %}',
				type: 'GET',
				data: {
					usuario_id:id,
					csrfmiddlewaretoken: "{{csrf_token}}",
				},
				success:function(grupos) {
					$.each(grupos , function(index, val) {
						var option = document.createElement("option");
						$(option).html(val);
						$(option).appendTo("#gruposActuales");
					});
				}
			});
		}


	(function(){
		$(".datepicker").datepicker({
				changeDay: true,
				changeMonth: true,
				changeYear: true,
				yearRange: "1990:2030",
				dateFormat: 'dd/mm/yy'
		});
	})();
	</script>

	<script type="text/javascript">
		function opcionesUsuario(id) {
			if (id == "nada") {
				$("#alta_usuario").hide();
				$("#modificar_usuario_grupo").hide();
				$("#baja_usuarios").hide();
				$("#" + "opcionesDelUsuario").val('nada');
			}
			if (id == "alta_usuario"){
				$("#alta_usuario").show();
				$("#modificar_usuario_grupo").hide();
				$("#baja_usuarios").hide();
				$("#" + "opcionesDelUsuario").val('alta_usuario');
			}
			if (id == "modificar_usuario_grupo") {
				$("#alta_usuario").hide();
				$("#modificar_usuario_grupo").show();
				$("#baja_usuarios").hide();
				//esto es por si dejo los submenu
				$("#" + "opcionesDelUsuario").val('modificar_usuario_grupo');
			}
			if(id=='baja_usuarios'){
				$("#alta_usuario").hide();
				$("#modificar_usuario_grupo").hide();
				$("#baja_usuarios").show();
				$("#" + "opcionesDelUsuario").val('baja_usuarios');
			}
		}

		function opcionesDatosTramite(id) {
				if (id == "nada") {
					$("#alta_tipo_documento").hide();
					$("#alta_tipo_de_obra").hide();
					$("#tipos_de_documento").hide();
					$("#" + "opcionesDelTramite").val('nada');
				}
				if (id == "alta_tipo_documento") {
					$("#alta_tipo_documento").show();
					$("#alta_tipo_de_obra").hide();
					$("#tipos_de_documento").hide();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelTramite").val('alta_tipo_documento');
				}
				if (id == "alta_tipo_de_obra") {
					$("#alta_tipo_documento").hide();
					$("#alta_tipo_de_obra").show();
					$("#tipos_de_documento").hide();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelTramite").val('alta_tipo_de_obra');
				}
				if (id == "tipos_de_documento") {
					$("#alta_tipo_documento").hide();
					$("#alta_tipo_de_obra").hide();
					$("#tipos_de_documento").show();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelTramite").val('tipos_de_documento');
				}
		}
	</script>

	<script type="text/javascript">
		function mostrarSubmenu(subformulario){
			if(subformulario=="sin_submenu"){
				$('.' + "sidebar-2").hide();
			}
			else{
				var idSubformulario=document.getElementById(subformulario).id;
				if($('#' + idSubformulario).is(':hidden')){
					$('.' + "sidebar-2").hide();
					$('#' + idSubformulario).show();
				}else{
					$('#' + idSubformulario).hide();
				}
			}
		}
	</script>

	<script>
		var c = document.getElementById("botonConfiguracion");
		c.style.display= '';
		var d = document.getElementById("imagenusuario");
		d.style.display= '';
		$('#div_id_dni').appendTo('#persona_administrativo');
		$('#div_id_nombre').appendTo('#persona_administrativo');
		$('#div_id_apellido').appendTo('#persona_administrativo');
		$('#div_id_telefono').appendTo('#persona_administrativo');
		$('#div_id_domicilio_persona').appendTo('#profesional_administrativo');
		$('#div_id_cuil').appendTo('#profesional_administrativo');
		$('#div_id_mail').appendTo('#profesional_administrativo');
		$('#div_id_matricula').appendTo('#profesional_administrativo');
		$('#div_id_usuario').appendTo('#usuario_administrativo');
		$('#div_id_password').appendTo('#usuario_administrativo');
		$('#div_id_grupo').appendTo('#usuario_administrativo')
		$('#submit-id-usuario_persona_submit').appendTo('#boton_administrativo');
		$('#id_password').removeAttr("type");
		$('#id_password').attr("type","password");
		$('.selectmultiple').attr( "size", "7" );
		$('.selectmultiple > option[value="0"]').attr('selected', 'selected');
		var selectList = $('#id_grupo option');
		selectList.sort(function(a,b){
			a = a.value;
			b = b.value;
			return a-b;
		});
		$('#id_grupo').html(selectList);
		$('#alta_tipo_documento #div_id_nombre').appendTo('#tipo')
		$('#alta_tipo_documento #div_id_descripcion').appendTo('#tipo')
		$('#div_id_fecha_alta').appendTo('#tipo')
		$('#div_id_activo').appendTo('#tipo')
		$('#div_id_requerido').appendTo('#requerido_para')
		$('#submit-id-tipo_documento_submit').appendTo('#boton_tipo')
		$('#alta_tipo_de_obra #div_id_nombre').appendTo('#nombre_tipo_obra')
		$('#alta_tipo_de_obra #div_id_descripcion').appendTo('#desc_tipo_obra')
		$('#alta_tipo_de_obra #div_id_categorias').appendTo('#categoria_tipo_obra')
		$('#alta_tipo_de_obra #div_id_valor_de_superficie').appendTo('#nombre_tipo_obra')
		$('#submit-id-tipo_obra_submit').appendTo('#boton_tipo_obra')

		$('#div_id_grupos_disponibles').appendTo('#id_contenedor_grupos_disponibles');
		$('#div_id_usuario_seleccionado').appendTo('#id_contenedor_usuario_seleccionado');
		$('#submit-id-usuario_grupo_submit').appendTo('#id_contenedor_boton_cambiar-grupo');
		var selectList = $('#id_grupos_disponibles option');
		selectList.sort(function(a,b){
			a = a.value;
			b = b.value;
			return a-b;
		});
		$('#id_grupos_disponibles').html(selectList);
		$("#id_grupo").removeAttr("multiple");
		var a = document.getElementById("id_grupo");
		a.style.height= '111px';
		$("#id_grupos_disponibles").removeAttr("multiple");
		var b = document.getElementById("id_grupos_disponibles");
		b.style.height= '111px';
	</script>

	<script>
		usuarios = [];
		grupos = [];
		$(document).ready(function() {
			{% for dtu in datos_usuario %}
				usuarios.push("{{dtu.persona.dni}}");
			{% endfor %}
			usuarios.sort();
			for(var i=0; i < usuarios.length; i++){
				var option = document.createElement("option");
				$(option).html(usuarios[i]);
				$(option).appendTo("#usuarios");
			}
			var sel = document.getElementById("gruposActuales");
			len = sel.length - 1 ;
			for( i = 0;  i < len ; i++) {
  			    sel.remove(2);
    		}
			document.getElementById("nombreUsuarioS").value = '';
			document.getElementById("id_usuario_seleccionado").value = '';
			document.getElementById("id_grupos_disponibles").disabled=true;
			document.getElementById("gruposActuales").disabled=true;
			document.getElementById("id_usuario_seleccionado").disabled=true;
		});
		function cargarUsuarioSeleccionado() {
			document.getElementById("id_usuario_seleccionado").disabled=false;
			var sel = document.getElementById("gruposActuales");
			len = sel.length - 1 ;
			for( i = 0;  i < len ; i++) {
  			    sel.remove(2);
    		}
			usuario_filtrado_nombre = [];
			usuario_filtrado_usuario = [];
			usuario_filtrado_grupo = [];
    		var x = document.getElementById("usuarios").value;
			{% for uf in datos_usuario %}
				if ("{{uf.persona.dni}}" == document.getElementById("usuarios").value){
					usuario_filtrado_nombre.push("{{uf.persona}}");
				}
			{% endfor %}
			{% for uf in datos_usuario %}
				if ("{{uf.persona.dni}}" == document.getElementById("usuarios").value){
					usuario_filtrado_usuario.push("{{uf}}");
				}
			{% endfor %}
			{% for uf in datos_usuario %}
				if ("{{uf.persona.dni}}" == document.getElementById("usuarios").value){
					{% for gr in uf.groups.values %}
						usuario_filtrado_grupo.push("{{gr.name}}");
					{% endfor %}
				}
			{% endfor %}
    		document.getElementById("nombreUsuarioS").value = usuario_filtrado_nombre[0];
			document.getElementById("id_usuario_seleccionado").value = usuario_filtrado_usuario[0];
			for(var i=0; i < usuario_filtrado_grupo.length; i++){
				var option = document.createElement("option");
				$(option).html(usuario_filtrado_grupo[i]);
				$(option).appendTo("#gruposActuales");
			}
			document.getElementById("id_grupos_disponibles").disabled=false;
 		}
	</script>

	<script>
		function eliminarTodosLosGrupos(){
			var sel = document.getElementById("gruposActuales");
			len = sel.length - 1 ;
			for( i = 0;  i < len ; i++) {
  			    sel.remove(2);
    		}
			document.getElementById("id_grupos_disponibles").disabled=true;
			document.getElementById("gruposActuales").disabled=true;
			document.getElementById("usuarios").value = '';
		}
	</script>
{% endblock %}
