
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}


{% block barra %}
<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="#" class="current"><font color="tomato">Director</font></a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick='mostrarSubmenu("tareasUsuario"),opcionesUsuario("nada")'>Usuarios</a></li>
				<ul class="sidebar sidebar-2" style="display:none;" id="tareasUsuario">
					<!--<li><a href="#" onclick='opcionesUsuario("alta_usuario")'>Crear usuario</a></li>-->
					<li><a href="#" onclick='opcionesUsuario("alta_usuario")'>Crear Usuario</a></li>
					<!--<li><a href="#" onclick='opcionesUsuario("alta_visador")'>Crear visador</a></li>
					<li><a href="#" onclick='opcionesUsuario("alta_inspector")'>Crear inspector</a></li>-->
					<li><a href="#" onclick='opcionesUsuario("modificar_usuario_grupo")'>Cambiar usuario de grupo</a></li>
				</ul>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("tareasTramite"),opcionesDatosTramite("nada")'>Datos tramite</a></li>
				<ul class="sidebar sidebar-2" style="display:none;" id="tareasTramite">
					<li><a href="#" onclick='opcionesDatosTramite("alta_tipo_documento")'>Crear tipo de documento</a></li>
					<li><a href="#" onclick='opcionesDatosTramite("alta_tipo_de_obra")'>Crear tipo de obra</a></li>
				</ul>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick='mostrarSubmenu("sin_submenu")'>Otorgar final de obra</a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick='mostrarSubmenu("sin_submenu")'>Modificar mis datos personales</a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" onclick='mostrarSubmenu("consultasInformes")'>Consultas e Informes</a></li>
				<ul class="sidebar sidebar-2" style="display:none;" id="consultasInformes">
					<li><a href="#">Consulta 1</a></li>
					<li><a href="#">Consulta 2</a></li>
					<li><a href="#">Consulta 3</a></li>
				</ul>
		</font>
	</ul>
{% endblock %}

{% block contenido %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
	  <div class="panel">
		<div class="panel-heading box" role="tab" id="headingFive">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick='mostrarSubmenu("tareasUsuario")'>
			  <font color="#ffffff" size="2">Usuarios</font>
			</a>
		  </h5>
		</div>
		<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<select class="form-control input-sm" id="opcionesDelUsuario" name="Opciones de usuario" onChange="opcionesUsuario(this.value);">
								<option selected value="nada"> ¿Que desea hacer? </option>
								<!--<option value="alta_usuario">Crear usuario</option>-->
								<option value="alta_usuario">Crear Usuario</option>
								<!--<option value="alta_visador">Crear Visador</option>
								<option value="alta_inspector">Crear inspector</option>-->
								<option value="modificar_usuario_grupo">Cambiar usuario de grupo</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="container-fluid" id="alta_usuario" style="display: none;">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<hr>
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<label>Soy el form de usuario persona</label>
							{% block alta_usuario %}
								{% crispy usuario_persona_form %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>-->
			  <div class="container-fluid" id="alta_usuario" style="display: none;">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<hr>
						<div style="display:none">
							{% block alta_administrativo %}
								{% crispy usuario_persona_form %}
							{% endblock %}
						</div>
						<form method="post" enctype="multipart/form-data"> {% csrf_token %}
							<div id="persona_administrativo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							</div>
							<div id="profesional_administrativo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							</div>
							<div id="usuario_administrativo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							</div>
							<div id="boton_administrativo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
								<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
									Limpiar
								</button>
							</div>
							<br>
						</form>
					</div>
				</div>
			  </div>

			<div class="container-fluid" id="modificar_usuario_grupo" style="display: none;">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<hr>
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<form action="" method="">
								<select class="form-control input-sm" id="" name="" onChange="" title="Selecciona nombre del grupo que vas a modificar" >
									<option selected value=""> ¿Que usuario desea cambiar? </option>
									<option value="">Usuario 1</option>
									<option value="">Usuario 2</option>
									<option value="">Usuario 3</option>
								 </select>
							</form>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<hr>
						<div class="container-fluid">
							<form action="" class="">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="form-group">
											<label for="">Nombre del usuario:</label>
											<input class="form-control input-sm" id="" name="" type="text" placeholder="Ingresar nuevo nombre del grupo" title="Ingresar nuevo nombre del usuario" maxlength="13" autofocus />
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="form-group">
											<label for="">Grupos disponibles:</label>
											 <select id='gruposDisponibles' class="form-control" onchange='cargarpermisosSeleccionados(this,"gruposActuales");' title="Seleccionar a que grupo desea asignarlo" size="12">
												<optgroup label="Seleccciona un grupo">
													<option value='0'></option>
													<option value="1">Grupo 1</option>
													<option value="2">Grupo 2</option>
													<option value="3">Grupo 3</option>
												</optgroup>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="form-group">
											<label for="">Grupo seleccionado para el usuario:</label>
											<select id='gruposActuales' class="form-control" size="12" onclick='eliminarSeleccionado(this);'>
												<optgroup label="Grupo elegido">
													<option value="0"></option>
													<option value="1">Aca aparecen los grupos que tiene el usuario</option>
												</optgroup>
											</select>
										</div>
									</div>
								</div>
								<div class="container-fluid">
									<br>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
											<button class="btn btn-primary btn-sm" type="submit" title="Modificar permisos del grupo">
												Modificar grupo
											</button>
											<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario" onclick="eliminarTodosLosGrupos()">
												Limpiar
											</button>
										</div>
									</div>
								</div>
							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="panel">
		<div class="panel-heading box" role="tab" id="headingTwo">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("tareasTramite")'>
			  <font color="#ffffff" size="2">Datos Trámite</font>
			</a>
		  </h5>
		</div>
		<div id="collapseTwo" class="panel-collapse
			{% if submit_name != 'tipo_documento_submit' and submit_name != 'tipo_obra_submit' %}collapse{% endif %}
			" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<select class="form-control input-sm" id="opcionesDelTramite" name="Opciones de Datos del tramite" onChange="opcionesDatosTramite(this.value);">
									<option selected value="nada"> ¿Que desea hacer? </option>
									<option value="alta_tipo_documento">Crear tipo de documento</option>
									<option value="alta_tipo_de_obra">Crear tipo de obra</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_tipo_documento" {% if submit_name != 'tipo_documento_submit' %}class="hide"{% endif %} style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								{% block alta_tipo_documento %}
									{% crispy tipo_documento_form %}
								{% endblock %}
							</div>
						</div>
					</div>
				</div>
			    <div class="container-fluid" id="alta_tipo_de_obra" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
								{% block alta_tipo_de_obra %}
									{% crispy tipo_obra_form %}
								{% endblock %}
							</div>
						</div>
					</div>
			  	</div>
			</div>
		</div>
	  </div>
	  <div class="panel">
		<div class="panel-heading box" role="tab" id="headingThree">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick='mostrarSubmenu("sin_submenu")'>
			  <font color="#ffffff" size="2">Otorgar final de obra</font>
			</a>
		  </h5>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						{% block Final_obra %}
							<label>Tercer sprint</label>
						{% endblock %}
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="panel">
		<div class="panel-heading box" role="tab" id="headingSix">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick='mostrarSubmenu("sin_submenu")'>
			  <font color="#ffffff" size="2">Datos personales</font>
			</a>
		  </h5>
		</div>
		<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="container-fluid">
						<br>
							<form action="" class="" >
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<div class="form-group">
												<label>Nro. de teléfono:</label>
												<input class="form-control input-sm" id="" name="" type="text" placeholder="Ingresar Nro de telefono" title="Ingresar nuevo Nro de telefono" maxlength="13" autofocus />
											</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<div class="form-group">
												<label for="">E-Mail:</label>
												<input class="form-control input-sm" id="" name="" type="email" placeholder="Ingresar e-mail" title="Ingresar nuevo e-mail" maxlength="20" />
											</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<label for="">Cambiar Foto de perfil:</label>
										<br>
										<input class="file" id="perfil" type="file" data-preview-file-type="any" title="Cargar nueva foto de perfil">
									</div>
								</div>
								<div class="container-fluid">
									<br>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
											<button class="btn btn-primary btn-sm" type="submit" title="Enviar modificación de mis datos">
												Modificar mis datos
											</button>
											<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
												Limpiar
											</button>
										</div>
									</div>
								</div>
							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="panel" style="display: none;">
		<div class="panel-heading box" role="tab" id="headingFour">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			  <font color="#ffffff" size="2">Consultas e Informes</font>
			</a>
		  </h5>
		</div>
		<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		  <div class="panel-body">
		  </div>
		</div>
	  </div>
	</div>

{% endblock %}

{% block scripts %}

	<script type="text/javascript">
	(function(){
		$(".datepicker").datepicker({
				changeDay: true,
				changeMonth: true,
				changeYear: true,
				yearRange: "1990:2030",
				dateFormat: 'dd/mm/yy'
		});
	})();
	</script>

	<script>
		$("#perfil").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar nueva foto de perfil',
			showUpload: false,
			showRemove: false
		});
	</script>

	<script type="text/javascript">
		function opcionesGrupo(id) {
			if (id == "nada") {
				$("#alta_grupo").hide();
				$("#baja_grupo").hide();
				$("#modificar_grupo").hide();
				$("#" + "opcionesDelGrupo").val('nada');
			}
			if (id == "alta_grupo") {
				$("#alta_grupo").show();
				$("#baja_grupo").hide();
				$("#modificar_grupo").hide();
				//esto es por si dejo los submenu
				$("#" + "opcionesDelGrupo").val('alta_grupo');
			}
			if (id == "baja_grupo") {
				$("#alta_grupo").hide();
				$("#modificar_grupo").hide();
				$("#baja_grupo").show();
				//esto es por si dejo los submenu
				$("#" + "opcionesDelGrupo").val('baja_grupo');
			}
			if (id == "modificar_grupo") {
				$("#alta_grupo").hide();
				$("#modificar_grupo").show();
				$("#baja_grupo").hide();
				//esto es por si dejo los submenu
				$("#" + "opcionesDelGrupo").val('modificar_grupo');
			}
		}
		function opcionesUsuario(id) {
			if (id == "nada") {
				$("#alta_usuario").hide();
				$("#modificar_usuario_grupo").hide();
				$("#" + "opcionesDelUsuario").val('nada');
			}
			if (id == "alta_usuario"){
				$("#alta_usuario").show();
				$("#modificar_usuario_grupo").hide();
				$("#" + "opcionesDelUsuario").val('alta_usuario');
			}
			if (id == "modificar_usuario_grupo") {
				$("#alta_usuario").hide();
				$("#modificar_usuario_grupo").show();
				//esto es por si dejo los submenu
				$("#" + "opcionesDelUsuario").val('modificar_usuario_grupo');
			}

		}

		function opcionesDatosTramite(id) {
				if (id == "nada") {
					$("#alta_tipo_documento").hide();
					$("#alta_tipo_de_obra").hide();
					$("#" + "opcionesDelTramite").val('nada');
				}
				if (id == "alta_tipo_documento") {
					$("#alta_tipo_documento").show();
					$("#alta_tipo_de_obra").hide();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelTramite").val('alta_tipo_documento');
				}
				if (id == "alta_tipo_de_obra") {
					$("#alta_tipo_documento").hide();
					$("#alta_tipo_de_obra").show();
					//esto es por si dejo los submenu
					$("#" + "opcionesDelTramite").val('alta_tipo_de_obra');
				}
		}

	</script>

	<script type="text/javascript">
		function mostrarSubmenu(subformulario)
		{
			if(subformulario=="sin_submenu"){
				$('.' + "sidebar-2").hide();
			}
			else{
				var idSubformulario=document.getElementById(subformulario).id;
				if($('#' + idSubformulario).is(':hidden')){
					$('.' + "sidebar-2").hide();
					$('#' + idSubformulario).show();
				}else{
					$('#' + idSubformulario).hide();
				}
			}
		}
	</script>

	<script>

		$('#div_id_dni').appendTo('#persona_administrativo');
		$('#div_id_nombre').appendTo('#persona_administrativo');
		$('#div_id_apellido').appendTo('#persona_administrativo');
		$('#div_id_telefono').appendTo('#persona_administrativo');
		$('#div_id_domicilio').appendTo('#profesional_administrativo');
		$('#div_id_cuil').appendTo('#profesional_administrativo');
		$('#div_id_mail').appendTo('#profesional_administrativo');
		$('#div_id_matricula').appendTo('#profesional_administrativo');
		$('#div_id_usuario').appendTo('#usuario_administrativo');
		$('#div_id_password').appendTo('#usuario_administrativo');
		$('#div_id_grupo').appendTo('#usuario_administrativo')
		$('#submit-id-usuario_persona_submit').appendTo('#boton_administrativo');


		$('#id_password').removeAttr("type");
		$('#id_password').attr("type","password");

		$('.selectmultiple').attr( "size", "6" );
		$('.selectmultiple').append($('<option>',{value:0, text:'Seleccione un grupo'}));
		$('.selectmultiple > option[value="0"]').attr('selected', 'selected');

		var selectList = $('#id_grupo option');
		selectList.sort(function(a,b){
			a = a.value;
			b = b.value;
			return a-b;
		});
		$('#id_grupo').html(selectList);

	</script>

{% endblock %}
