{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static perfil %}">
{% endblock %}

{% block barra %}
<div id="contenedor_botoncalapsable_sidebar">
	<button type="button" class="btn-collapsible-sidebar" onclick='mostrarBarra()' id="botonOn">
		<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
	</button>
</div>
<ul class="sidebar sidebar-1">
	<font size="2">
		<li><a href="/persona/director" class="current"><font>Director</font></a></li>
	</font>
</ul>
{% endblock %}

{% block contenido %}
    {% if lista %}
        <script src="{% static 'js/plotly-latest.min.js' %}"></script>
        <div class="row">
          <div class="col-md-12">
            <body>
            <div id="myDiv"></div>
            </body>
            <script type="text/javascript">

              var data = []
              {% for l in lista%}
                {% for key,values in l.items %}
                  var dict = {
                    y: {{values}},
                    type:'box',
                    name: "{{key}}"
                  }
                  data.push(dict);
                {% endfor %}
              {% endfor %}
              var layout = {
                title: 'Productividad de Empleados'
              };
              Plotly.newPlot('myDiv', data,layout, {showSendToCloud: true});
            </script>
          </div>
        </div>
        <div id="collapseFive" class="panel-collapse colorG" role="tabpanel" aria-labelledby="headingFive">
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div class="controls col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label> Visadores e Inspectores</label>
                            <select class="form-control input-sm" name="opciones" id="select_mio">
                                <optgroup label="Visadores">
                                    {% for visador in lista_visadores %}
                                        <option value="{{visador.id}}">{{visador.username}}</option>
                                    {% endfor %}
                                    <option value="todos_visadores">Todos los Visadores</option>
                                </optgroup>
                                <optgroup label="Inspectores">
                                    {% for inspector in lista_inspectores %}
                                        <option value="{{inspector.id}}">{{inspector.username}}</option>
                                    {% endfor %}
                                    <option value="todos_inspectores">Todos los Inspectores</option>
                                </optgroup>
                            </select>
                        </div>


                        <div class="controls col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <button type="submit" class="btn btn-info" name="boton_plotbox" style="margin-top:6%">Filtrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
              {% if df %}
              <div id="contenedor_botoncalapsable_resto"></div>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
                  <div class="panel">
              		<div class="panel-heading box" role="tab" id="headingOne">
              			<h5 class="panel-title">
              				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              					<font color="#ffffff" size="2">Detalle de tramites filtrados</font>
              				</a>
              			</h5>
              		</div>
                  	<div id="collapseOne" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingOne">
                    		<div class="panel-body">
                      		<div class="container-fluid">
                        			<div class="row">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              							<div class="table-responsive">
                                              {%autoescape off %}{{df}}{%endautoescape%}
              							</div>
              							<hr>
              						</div>
              						<div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8" align="left">
              							<a id="crear_detalle" href="{% url 'excel_boxplot' opcion=boton_presionado %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo Excel" >
              								<i class="glyphicon glyphicon-list-alt"></i><span>Exportar a EXCEL</span>
              							</a>
              							<a href="{% url 'pdf_boxplot' opcion=boton_presionado %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo PDF" >
              								<i class="glyphicon glyphicon-file"></i><span>Exportar a PDF</span>
              							</a>
              						</div>
              						<div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4" align="right">
              							<a href="javascript:history.back(-1);">
              								<button type="button" class="btn btn-primary" name="Volver">
              									Volver
              								</button>
              							</a>
              						</div>
              					</div>
              				</div>
              			</div>
              		</div>
              	</div>
              </div>


              <script type="text/javascript">
                $('#select_mio').val("{{boton_presionado}}");
                function submitear() {
                    $('#form_boxplot').submit()
                }
              </script>

              {% endif %}
          </div>
        </div>


    {% endif %}
{% endblock %}
