{% extends 'base.html' %}
{% load staticfiles %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static perfil %}">
{% endblock %}

{% block barra %}
<div id="contenedor_botoncalapsable_sidebar">
	<button type="button" class="btn-collapsible-sidebar" onclick='mostrarBarra()' id="botonOn">
		<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
	</button>
</div>
<ul class="sidebar sidebar-1">
    <font size="2">
        <li><a href="{% url 'director'  %}" class="current"><font>Director</font></a></li>
    </font>
</ul>
{% endblock %}

{% block contenido %}
<div id="contenedor_botoncalapsable_resto"></div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel">
        <div class="panel-heading box" role="tab" id="headingFive">
            <h5 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <font color="#ffffff" size="2">Documentos del estado del tramite</font>
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="panel-collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: white;">
                            {% for documento in documentos_de_fecha%}
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="height:360px;">
                                <div class="thumbnail ">
                                    <a id="single_image" href="/media/{{documento.file}}" data-fancybox="images" data-caption="{{documento.tipo_documento}}">
                                        <img src="/media/{{documento.file}}" style="height:200px;">
                                    </a>
                                    <br>
                                    <p style="color: #17202a; font-style: oblique; text-align: center;"> {{documento.tipo_documento}} - {{documento.fecha}} </p>
                                    <!--form action="">
                                        <p align="right" >
                                            <a href="#" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-save"></i><span>Descargar</span></a>
                                        </p>
                                    </form-->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                            <a href="javascript:history.back(-1);">
                                <button type="button" class="btn btn-primary" name="Volver">
                                    Volver
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
	<script>
		document.getElementById('id_boton_ayuda_2').style.visibility = 'hidden'
	</script>
{% endblock %}
