{% extends 'base.html' %}
{% load staticfiles %}

{% block barra %}

	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="#" class="current"><font color="tomato">Registrarse:</font></a></li>
		</font>
	</ul>

{% endblock %}

{% block contenido %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-custom">
			<div class="panel-heading" role="tab" id="headingFive">
			</div>
			<div class="container-fluid" id="alta_usuario">
				<div class ="row">
					<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
						    <legend style = "color: tomato">Registrarse como Profesional en el Municipio</legend>
							{% block alta_tipo_documento %}
								{% include "persona/alta/alta_profesional.html" with form=form %}
							{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}

	<script>
			$("#id_certificado").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar Certificado',
			showUpload: false,
			showRemove: false
		});
	</script>
{% endblock %}
