{% load staticfiles %}
{% load crispy_forms_tags%}



<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
{% crispy form %}
</div>


<!--
<form  method="post"  enctype="multipart/form-data">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div id="div_id_dni" class="form-group">
            <label for="id_dni" >Ingresar Nro de documento<span class="asterisk">*</span></label>
            <input class="form-control" id="id_dni" maxlength="8" name="dni" type="number"  min="1" max="99999999" step="1s" placeholder="Ingresar Nro de Documento"  title="Ingresar Nro de Documento (Sin puntos)" required />
        </div>
        <div id="div_id_nombre" class="form-group">
            <label for="id_nombre">Ingresar Nombre<span class="asteriskField">*</span> </label>
            <input class="form-control" id="id_nombre" maxlength="50" name="nombre" type="text" placeholder="Ingresar Nombre/s" title="Ingresar Nombre/s" required />
        </div>
        <div id="div_id_apellido" class="form-group">
            <label for="id_apellido" >Ingresar Apellido<span class="asterisk">*</span> </label>
            <input class="form-control" id="id_apellido" maxlength="50" name="apellido" type="text" placeholder="Ingresar Apellido/s"  title="Ingresar Apellido/s"required />
        </div>
        <div id="div_id_telefono" class="form-group">
            <label for="id_telefono" >Ingresar Nro de Telefono<span class="asterisk">*</span> </label>
            <input class="form-control" id="id_telefono" maxlength="15" name="telefono" type="text" placeholder="Ingresar Nro de Teléfono" title="Ingresar Nro de Teléfono" required />
        </div>
        <div id="div_id_domicilio" class="form-group">
            <label for="id_domicilio" > Ingresar Domicilio<span class="asterisk">*</span> </label>
            <input class="form-control" id="id_domicilio" maxlength="50" name="domicilio" type="text" placeholder="Ingresar Domicilio" title="Ingresar Domicilio" required />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div id="div_id_cuil" class="form-group">
            <label for="id_cuil" >Ingresar Nro de Cuil<span class="asterisk">*</span> </label>
            <input class="form-control" id="id_cuil" maxlength="13" name="cuil" type="text" pattern="^[0-9]{2}-[0-9]{8}/[0-9]$" placeholder="Ingresar Nro de CUIL" title="Ingresar Nro de CUIL" required />
        </div>
        <div id="div_id_mail" class="form-group">
            <label for="id_mail" >Ingresar Email<span class="asterisk">*</span> </label>
            <input class="form-control" id="id_mail" maxlength="40" name="mail" type="email" placeholder="Ingresar Email" title="Ingresar Email" required />
        </div>
        <div id="div_id_matricula" class="form-group">
            <label for="id_matricula" >Ingresar Matricula<span class="asterisk">*</span> </label>
            <input class="form-control" id="id_matricula" name="matricula" type="text" maxlength="10" placeholder="Ingresar Matricula" title="Ingresar Matricula" required />
        </div>
        <div id="div_id_profesion" class="form-group">
            <label for="id_profesion" >Ingresar Profesión<span class="asterisk">*</span> </label>
            <input class="form-control" id="id_profesion" name="profesion" type="text" placeholder="Ingresar Profesión" title="Ingresar Profesión" required />
        </div>
        <div id="div_id_categorias" class="form-group">
            <label for="id_categorias" >Categorias<span class="asterisk">*</span> </label>
            <select class="select form-control" id="id_categorias" name="categorias" title="Ingresar Categoria Profesional" required>
                <option value="1">Categoria 1</option>
                <option value="2">Categoria 2</option>
                <option value="3">Categoria 3</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div id="div_id_certificado" class="form-group">
            <label for="id_certificado">Cargar Certificado de Colegio Profesional<span class="asterisk">*</span> </label>
            <div class="controls ">
                <input class="clearablefileinput" id="id_certificado" name="certificado" type="file" required />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
        <div class="form-group">
            <input type="submit" name="profesional_submit" value="Guardar" class="btn btn-primary" id="submit-id-profesional_submit"/>
        </div>
    </div>

</form>

-->