{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}
	<link rel="stylesheet" type="text/css" href="{% static perfil %}">
{% endblock %}

{% block imagenusuario %}
	<img src= "{{user.persona.perfilFoto.url}}" width=40 height=40 class="img-circle">
{% endblock %}

{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="javascript:history.back(-1);" class="current"><font color="tomato">Inspector</font></a></li>
		</font>
	</ul>
{% endblock %}


{% block contenido %}
    <button type="button" class="btn btn-sm btn-collapsible-sidebar" onclick='mostrarBarra()' id="botonOn"> <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
    <div class="container-fluid">
        <div class="panel panel-custom ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: white;">
                        <h4>Documentos del tramite:</h4>
                        <hr>
                        {% for documento in tramite.documentos.all %}
                             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <div class="thumbnail ">
                                            <a id="single_image" href="/media/{{documento.file}}">
                                                <img src="/media/{{documento.file}}"  width="300" height="300">
                                            </a>
                                        <p></p>
                                        <form action="">
                                            <p align="right" >
                                            <a href="#" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-save"></i><span>  Descargar</span></a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <br>
                                    <p style="font-family: Verdana, Times, serif; font-size: 17px;"> {{documento.tipo_documento}} </p>
                                    <p style="font-style: oblique;">Fecha de ingreso: {{documento.fecha}} </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="container-fluid">
                            <div class="row">
                                <hr>
                                <!---Boton para adjuntar el documento correspondiente a la inspeccion-->
                                <form  method="post" enctype="multipart/form-data">
                                    {{ctxdocumentoset}}
                                    <div class="form-group">
                                        <label for="">Observaciones:</label>
                                        <input type="hidden" id="id_tramite" value="{{tramite.id}}">
                                        <input class="form-control input-sm" id="id_observaciones" name="observaciones" type="text" placeholder="Ingresar observaciones" title="Observaciones" maxlength="100" />
                                    </div>
                                    <!---<button class="btn btn-primary" type="submit" name="Aceptar">
                                        Aprobar inspeccion
                                    </button>
                                    <button class="btn btn-primary" type="submit" name="Aceptar">
                                        Rechazar inspeccion
                                    </button>-->
                                    <input type="submit" name="aceptar_tramite" value="Aceptar Insepccion">
                                    <input type="submit" name="rechazar_tramite" value="Rechazar Inspeccion">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
		$("#id_correcciones").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar Documentos Corregidos',
			showUpload: false,
			showRemove: false
		});
	</script>

    <script>
        var c = document.getElementById("botonConfiguracion");
		c.style.display= '';
		var d = document.getElementById("imagenusuario");
		d.style.display= '';
    </script>

{% endblock %}
