{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}

{% endblock %}

{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="#" class="current"><font color="tomato">Inspector</font></a></li>
		</font>
	</ul>
{% endblock %}


{% block contenido %}

    <div class="container-fluid">
        <div class="panel panel-custom ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4 style="color: white;">Documentos del tramite:</h4>
                        <hr>
                        {% for documento in tramite.documentos.all %}
                            <div class="col-md-3">
				                				<div class="thumbnail ">
                                    <a href="/media/{{documento.file}}" class="thumbnail ">
                                        <img src="/media/{{documento.file}}" class="img-thumbnail" width="200" height="200">
                                    </a>
                                    <font color="#337ab7" size="4">{{documento.tipo_documento}}</font>
                                    <form action="">
                                        <p align="right" >
                                        <a href="#" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-save-file"></i><span> Descargar</span></a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="container-fluid">
                            <div class="row">
                                <hr>

                                <!---Boton para adjuntar el documento correspondiente a la inspeccion-->
                                    <form  method="post" enctype="multipart/form-data">

                                        {{ctxdocumentoset}}

                                        <div class="form-group">
                                            <label for="">Observaciones:</label>
                                            <input type="hidden" id="id_tramite" value="{{tramite.id}}">
                                            <input class="form-control input-sm" id="id_observaciones" name="observaciones" type="text" placeholder="Ingresar observaciones" title="Observaciones" maxlength="100" />
                                        </div>

                                        <!---<button type="button" class="btn btn-primary" type="submit" name="Aceptar">
                                            Aprobar inspeccion
                                        </button>

                                        <button type="button" class="btn btn-primary" type="submit" name="Aceptar">
                                            Rechazar inspeccion
                                        </button>-->

                                        <input type="submit" name="aceptar_tramite" value="Aceptar Insepccion">
                                        <input type="submit" name="rechazar_tramite" value="Rechazar Inspeccion">

                                    </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

    <script>
		$("#id_correcciones").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar Documentos Corregidos',
			showUpload: false,
			showRemove: false
		});
	</script>

{% endblock %}
