{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}


{% block barra %}
<ul class="sidebar sidebar-1">
  <font size="2">
    <li><a href="#" class="current"><font color="tomato">Inspector</font></a></li>
    <div class="list-group">
      <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("sin_submenu")'>Agendar inspeccion</a></li>
      <li><a data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false" aria-controls="collapsethree" onclick='mostrarSubmenu("sin_submenu")'>Cargar Inspeccion</a></li>
      <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" onclick='mostrarSubmenu("sin_submenu")'>Consultar mis Inspecciones</a></li>
      <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick='mostrarSubmenu("sin_submenu")'>Modificar mis datos personales</a></li>
    </div>
  </font>
</ul>
{% endblock %}



{% block contenido %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel">
    <div class="panel-heading box" role="tab" id="headingTwo">
      <h5 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick='mostrarSubmenu("sin_submenu")'>
          <font color="#ffffff" size="2">Agendar para inspeccion</font>
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              {% block contenido_tramites_visados_y_con_inspeccion %}
                {% include "persona/inspector/tramites_visados_y_con_inspeccion.html" with tramites=ctxtramitesvisadosyconinspeccion %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="panel ">
    <div class="panel-heading" role="tab" id="headingFour">
      <h5 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"  onclick='mostrarSubmenu("sin_submenu")'>
          <font color="#ffffff" size="2">Consultar mis Inspecciones</font>
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              {% block contenido_tramites_inspeccionados %}
                {% include "persona/inspector/tramites_inspeccionados.html" with estados=ctxtramitesinspeccionados%}
              {% endblock %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel ">
    <div class="panel-heading" role="tab" id="headingthree">
      <h5 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false" aria-controls="collapsethree"  onclick='mostrarSubmenu("sin_submenu")'>
          <font color="#ffffff" size="2">Cargar Inspeccion</font>
        </a>
      </h5>
    </div>
    <div id="collapsethree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingthree">
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!-- Table -->
              <div class="table-responsive">
                <table  class="table table-striped table-hover table-condensed">
                  <thead>

                  <p style="color: tomato;" >Aca filtro los tramites agendados que son de el, y creo una vista para que pueda adjuntar la planilla de inspeccion</p>
                    <tr>
                      <th>Nro Tramite</th>
                      <th>Fecha Inspección</th>
                      <th>Dirección</th>
                      <th>Inspección</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading box" role="tab" id="headinOne">
      <h5 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick='mostrarSubmenu("sin_submenu")'>
          <font color="#ffffff" size="2">Datos personales</font>
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="container-fluid">
                <br>
                <form action="" class="" >
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label for="telefono">Nro. de teléfono:</label>
                        <input class="form-control input-sm" id="" name="" type="text" placeholder="Ingresar Nro de telefono" title="Ingresar nuevo Nro de telefono" maxlength="13" />
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label for="">E-Mail:</label>
                        <input class="form-control input-sm" id="" name="" type="email" placeholder="Ingresar e-mail" title="Ingresar nuevo e-mail" maxlength="20" />
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <label for="">Cambiar Foto de perfil:</label>
                      <br>
                      <input class="file" id="perfil" type="file" data-preview-file-type="any" title="Cargar nueva foto de perfil">
                    </div>
                  </div>
                  <div class="container-fluid">
                    <br>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                        <button class="btn btn-primary btn-sm" type="submit" title="Enviar modificación de mis datos">
                          Modificar mis datos
                        </button>
                        <button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
                          Limpiar
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}


{% block scripts %}
<!-- Esto no se debe borrar-->
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>

<script>
$("#perfil").fileinput({
  showCaption: false,
  browseClass: "btn btn-primary btn-sm",
  fileType: "any",
  maxFileCount: 1,
  browseLabel: 'Cargar nueva foto de perfil',
  showUpload: false,
  showRemove: false
});
</script>

<script>
$("#final").fileinput({
  showCaption: false,
  browseClass: "btn btn-primary btn-sm",
  fileType: "any",
  maxFileCount: 1,
  browseLabel: 'Cargar constancia de CACH',
  showUpload: false,
  showRemove: false
});
</script>
{% endblock%}
