
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
        <thead>
            <tr>
                <th>Nro de tramite</th>
                <th>Propietario</th>
                <th>Profesional</th>
                <th>Medidas</th>
                <th>Tipo de Obra</th>
                <th>Estado</th>
                <th>Fecha de inspeccion</th>
                <th>Agendar</th>
            </tr>
        </thead>
        <tbody>
            {% if tramites %}
                {% for tramite in tramites %}
                    <tr>
                        <td>{{ tramite.id }}</td>
                        <td>{{ tramite.propietario }}</td>
                        <td>{{ tramite.profesional }} </td>
                        <td>{{ tramite.medidas }}</td>
                        <td>{{ tramite.tipo_obra }}</td>
                        <td>{{ tramite.estado }}</td>
                        <td>
                            <input type="hidden" id="id_tramite" value="{{tramite.id}}">
                            <input id="date" type='date' min=''></input>
                            <script>
                                var today = new Date();
                                var dd = today.getDate();
                                var mm = today.getMonth()+1; //January is 0!
                                var yyyy = today.getFullYear();
                                if(dd<10){
                                        dd='0'+dd
                                    } 
                                    if(mm<10){
                                        mm='0'+mm
                                    } 
                                today = yyyy+'-'+mm+'-'+dd;
                                document.getElementById("date").setAttribute("min", today);
                            </script>
                        </td>
                        <td>
                            <a href="javascript:prueba();">
                              <button type="button" class="btn btn-primary btn-sm" name="Agendar">
                                Agendar
                              </button>
                            </a>
                        </td>
                    </tr>

                    <script>
                        function prueba(){
                            var today = new Date();
                            var Hora = today.getHours();
                            var Minutos = today.getMinutes();
                            obs = $("#date").val();
                            fecha = obs+' '+Hora+':'+Minutos
                            alert(fecha);
                            id_tramite = $("#id_tramite").val();
                            url = '/persona/agendar_tramite/'+id_tramite+'/?msg='+fecha;
                            alert(url);
                            location.href = url;
                        }
                    </script>
                {% endfor %}
            {% endif%}
        </tbody>
    </table>
</div>

