{% block contenido_tramites_agendados %}
  <div class="table-responsive">
      <table id="tabla" class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
          <!-- Cabecera -->
          <thead>
              <tr>
                  <th>Fecha Inicio</th>
                  <th>Tipo de obra</th>
                  <th>Profesional</th>
                  <th>Propietario</th>
                  <th>Medidas en m2</th>
                  <th>Estado</th>
                  <th>Revisar</th>
              </tr>
          </thead>

          <tbody>

          {% if tramites_del_inspector %}

              {% for tramite in tramites_del_inspector %}
                <tr>
                    <td class="col-xs-2">{{ tramite.medidas}}</td>
                    <td class="col-xs-1">{{ tramite.tipo_obra }} </td>
                    <td class="col-xs-4">{{ tramite.profesional}}</td>
                    <td class="col-xs-4">{{ tramite.propietario}}</td>
                    <td class="col-xs-1">{{ tramite.medidas }} </td>
                    <td class="col-xs-1">{{ tramite.estado}}</td>
                    <td align="center" class="col-xs-2">

                        <a href="{% url 'cargar_inspeccion' pk_tramite=tramite.id %}">
                          <button type="button" class="btn btn-primary" name="Agendar">
                            Ver documentos
                          </button>
                        </a>

                    </td>
                </tr>
              {% endfor %}
          {% endif%}
          </tbody>
      </table>
  </div>
{% endblock %}
