{% load staticfiles %}

{% block contenido_tramite_visados %}

    <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
            <!-- Cabecera -->
            <thead>
                <tr>
                    <td>Propietario</td>
                    <td>Profesional</td>
                    <td>Medidas</td>
                    <td>Tipo de Obra</td>
                    <td>Estado</td>
                    <td>Fecha de visita</td>
                    <td>Agendar</td>
                </tr>
            </thead>
            <!-- Mostramos los datos de las tablas -->
            <tbody>
            {% if tramites %}
                {% for tramite in tramites %}
                    <tr>
                        <td>{{ tramite.propietario }}</td>
                        <td>{{ tramite.profesional }} </td>
                        <td>{{ tramite.medidas }}</td>
                        <td>{{ tramite.tipo_obra }}</td>
                        <td>{{ tramite.estado_actual }}</td>
                        <td>
                            <a href="{% url 'agendar_tramite' pk_tramite=tramite.id %}">
                              <button type="button" class="btn btn-primary" name="Agendar">
                                Aceptar
                              </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif%}

            </tbody>
        </table>
    </div>
{% endblock %}
