{% block contenido_tramites_aceptados %}
  <div class="table-responsive">
      <table id="tabla" class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
          <!-- Cabecera -->
          <thead>
              <tr>
                  <th>Fecha Inicio</th>
                  <th>Tipo de obra</th>
                  <th>Profesional</th>
                  <th>Propietario</th>
                  <th>m2</th>
                  <th>Revisar</th>
              </tr>
          </thead>
          <!-- Mostramos los datos de las tablas -->



          <tbody>

          {% if tramites_para_visar %}

              {% for tramite in tramites_para_visar %}
                <tr>
                    <td>{{ tramite.estado.timestamp}}</td>
                    <td>{{ tramite.tipo_obra }} </td>
                    <td>{{ tramite.profesional}}</td>
                    <td>{{ tramite.propietario}}</td>
                    <td>{{ tramite.medidas }} </td>
                    <td align="center">
                        <a href="{% url 'ver_documentos_para_visado' tramite.pk %}">
                            <button type="button" class="btn btn-primary btn-xs" name="Ver documentos">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"> Ver documentos</span>
                            </button>
                        </a>
                    </td>
                </tr>
              {% endfor %}
          {% endif%}
          </tbody>
      </table>
  </div>
{% endblock %}