{% block contenido_tramites_aceptados %}
<div class="table-responsive">
	<table  class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
		<thead>
			<tr>
				<th>Nro</th>
				<th>Fecha Inicio</th>
				<th>Tipo</th>
				<th>Profesional</th>
				<th>Propietario</th>
				<th>Superficie</th>
				<th >Agendar</th>
			</tr>
		</thead>
		<tbody>
			{% if tramites %}
			{% for tramite in tramites %}
			<tr>
				<td class="col-xs-1">{{ tramite.id }}</td>
				<td class="col-xs-2">{{ tramite.estado.timestamp }}</td>
				<td class="col-xs-2">{{ tramite.tipo_obra }} </td>
				<td class="col-xs-2">{{ tramite.profesional}}</td>
				<td class="col-xs-2">{{ tramite.propietario}}</td>
				<td class="col-xs-1">{{ tramite.medidas }} </td>
				<td align="center" class="col-xs-1">
					<a href="{% url 'agendar_tramite_para_visado' tramite.pk %}">
						<button type="button" class="btn btn-primary btn-xs" name="Agendar">
							<span class="glyphicon glyphicon-list-alt" aria-hidden="true"> Agendar</span>
						</button>
					</a>
				</td>
			</tr>
			{% endfor %}
			{% endif%}
		</tbody>
	</table>
</div>
{% endblock %}