{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}

{% endblock %}

{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="#" class="current"><font color="tomato">Visador</font></a></li>
		</font>
	</ul>
{% endblock %}


{% block contenido %}



    <div class="container-fluid">
        <div class="panel panel-custom ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h4 style="color: white;">Documentos del tramite:</h4>
                        <hr>
                        {% for documento in tramite.documentos.all %}
                            <div class="col-md-3">
				                <div class="thumbnail ">
                                    <a href=/media/{{documento.file}}" class="thumbnail ">
                                        <img src="/media/{{documento.file}}" class="img-thumbnail" width="200" height="200">
                                    </a>
                                    <font color="#337ab7" size="4">{{documento.tipo_documento}}</font>
                                    <form action="">
                                        <p align="right" >
                                        <a href="#" class="btn btn-primary btn-collapsible"><i class="glyphicon glyphicon-save-file"></i><span> Descargar</span></a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="container-fluid">
                            <div class="row">

                                        <div class="form-group">
                                            <label for="id_monto_a_pagar">Monto:</label>
                                            <input type="hidden" id="id_tram" value="{{tramite.id}}">
                                            <input class="form-control input-sm" id="id_monto_a_pagar" name="" type="text" placeholder="Ingresar monto" title="Monto" maxlength="10" onChange="validarSiNumero(this.value);"/>
                                        </div>

                                        <script>
                                            function aprobar(){
                                                monto = $("#id_monto_a_pagar").val();
                                                id_tram = $("#id_tram").val();
                                                url = '/persona/aprobar_visado/'+id_tram+'/?monto_a_pagar='+monto;
                                                location.href = url;
                                            }
                                        </script>

                                        <a href="javascript:aprobar();">
                                            <button class="btn btn-primary btn-sm" type="submit" title="Aprobar el visado">
                                                Aprobar visado
                                            </button>
                                        </a>



                                        <div class="form-group">
                                            <label for="">Observaciones:</label>
                                            <input type="hidden" id="id_tramite" value="{{tramite.id}}">
                                            <input class="form-control input-sm" id="id_observaciones" name="" type="text" placeholder="Ingresar observaciones" title="Observaciones" maxlength="100" />
                                        </div>



                                        <script>
                                            function noaprobar(){
                                                obs = $("#id_observaciones").val();
                                                id_tramite = $("#id_tramite").val();
                                                url = '/persona/no_aprobar_visado/'+id_tramite+'/?msg='+obs;
                                                alert (url)
                                                location.href = url;
                                            }
                                        </script>

                                        <a href="javascript:noaprobar();">
                                            <button class="btn btn-danger btn-sm" type="submit" title="Envia Planilla de visado">
                                                Enviar correcciones
                                            </button>
                                        </a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
		$("#id_correcciones").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar Planilla de Visado',
			showUpload: false,
			showRemove: false
		});
	</script>



{% endblock %}