
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}


{% block barra %}
	<ul class="sidebar sidebar-1">
		<font size="2">
			<li><a href="#" class="current"><font color="tomato">Visador</font></a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Iniciar Visado</a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Consultar mis Visados</a></li>
			<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Modificar mis datos personales</a></li>
			<li><a href="#" onclick='mostrarSubmenu("consultasInformes")'>Consultas e Informes <span class="caret"></span></a></li>
				<ul class="sidebar sidebar-2" style="display:none;" id="consultasInformes">
					<li><a href="#">Consulta 1</a></li>
					<li><a href="#">Consulta 2</a></li>
					<li><a href="#">Consulta 3</a></li>
				</ul>
		</font>
	</ul>
{% endblock %}

{% block contenido %}
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingTwo">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
			  <font color="#ffffff" size="2">Iniciar Visado</font>
			</a>
		  </h5>
		</div>
		 <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="container-fluid">
							<form action="" class="" >
								<div class="row">
									<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
										<a id="crear_detalle" href="{% url 'reporte_tramites_aceptados_excel' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo Excel" >
										   <i class="glyphicon glyphicon-list-alt"></i><span>Exportar a EXCEL</span>
										</a>
										<a href="{% url 'reporte_tramites_aceptados_pdf' %}" class="btn btn-info btn-collapsible btn-sm" title="Generar Archivo PDF" >
											<i class="glyphicon glyphicon-file"></i><span>Exportar a PDF</span>
										</a>
									</div>
									<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<hr>
										{% block contenido_tramites_aceptados%}
											{% include "persona/visador/tramites_aceptados.html" with tramites=ctxtramaceptado.tramites%}
										{% endblock %}
									</div>
								</div>
							</form>
							<br>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingFour">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			  <font color="#ffffff" size="2">Consultar mis Visados</font>
			</a>
		  </h5>
		</div>
		<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						{% block contenido_tramites_visados%}
							{% include "persona/visador/tramites_visados.html" with estados=ctxtramvisados.estados%}
						{% endblock %}
					</div>
				</div>
			</div>
		 </div>
	   </div>


		<!--

	   <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingthree">
		  <h5 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
			  <font color="#ffffff" size="2">Cargar mis Visados</font>
			</a>
		  </h5>
		</div>
		<div id="collapsethree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingthree">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

							<div class="table-responsive">
								<table  class="table table-striped table-hover table-condensed" style="background: white;">
									<thead>
									  <tr>
										<th>Nro Tramite</th>
										<th>Fecha Inspección</th>
										<th>Dirección</th>
										<th>Visado</th>
									  </tr>
									</thead>
									<tbody>
									  <tr>
										<td>1234</td>
										<td>12/12/1900</td>
										<td>Alberdi 77</td>
										<td><center><input type="button" value="Visar" onclick = "location='Visador-Visar.html'"/></center></td>
									  </tr>
									  <tr>
										<td>3456</td>
										<td>12/12/1900</td>
										<td>Almafuerte 45</td>
										<td><center><input type="button" value="Visar" onclick = "location='Visador-Visar.html'"/></center></td>
									  </tr>
									  <tr>
										<td>4575</td>
										<td>12/12/1900</td>
										<td>San Martín</td>
										<td><center><input type="button" value="Visar" onclick = "location='Visador-Visar.html'"/></center></td>
									  </tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		 </div>
	   </div>
	-->
	  <div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingOne">
		  <h5 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			  <font color="#ffffff" size="2">Modificar mis datos personales</font>
			</a>
		  </h5>
		</div>
		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		  <div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="container-fluid">
						<br>
							<!--<form action="" class="" >
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<div class="form-group">
												<label for="">Nro. de teléfono:</label>
												<input class="form-control input-sm" id="" name="" type="text" placeholder="Ingresar Nro de telefono" title="Ingresar nuevo Nro de telefono" maxlength="13" />
											</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
											<div class="form-group">
												<label for="">E-Mail:</label>
												<input class="form-control input-sm" id="" name="" type="email" placeholder="Ingresar e-mail" title="Ingresar nuevo e-mail" maxlength="20" />
											</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<label for="">Cambiar Foto de perfil:</label>
										<br>
										<input class="file" id="perfil" type="file" data-preview-file-type="any" title="Cargar nueva foto de perfil">
									</div>
								</div>
								<div class="container-fluid">
									<br>
									<div class="row" >
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
											<button class="btn btn-primary btn-sm" type="submit" title="Enviar modificación de mis datos">
												Modificar mis datos
											</button>
											<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario">
												Limpiar
											</button>
										</div>
									</div>
								</div>
							</form>
							-->
							<br>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>

{% endblock %}

{% block scripts %}

	<script type="text/javascript">
		function mostrarSubmenu(subformulario)
		{
			var idSubformulario=document.getElementById(subformulario).id;
			if($('#' + idSubformulario).is(':hidden')){
				$('#' + idSubformulario).show();
			}else{
				$('#' + idSubformulario).hide();
			}
		}
	</script>

	<script>
		$("#perfil").fileinput({
			showCaption: false,
			browseClass: "btn btn-primary btn-sm",
			fileType: "any",
			maxFileCount: 1,
			browseLabel: 'Cargar constancia de CACH',
			showUpload: false,
			showRemove: false
		});
	</script>

{% endblock %}