{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static perfil %}">
{% endblock %}

{% block imagenusuario %}
<img src= "{{user.persona.perfilFoto.url}}" width=40 height=40 class="img-circle">
{% endblock %}

{% block barra %}
<div id="contenedor_botoncalapsable_sidebar">
	<button type="button" class="btn-collapsible-sidebar" onclick='mostrarBarra()' id="botonOn">
		<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
	</button>
</div>
<ul class="sidebar sidebar-1">
	<font size="2">
		<li><a href="#" class="current"><font>Visador</font></a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick='mostrarSubmenu("sin_submenu")'>Agendar Visado {% if ctxtramaceptado.tramites.count > 0 %}<span class="badge confBadge">{{ ctxtramaceptado.tramites.count }}</span>{% endif %}</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick='mostrarSubmenu("sin_submenu")'>Cargar Visado {% if ctxtramagendado.len_tramites_del_visador > 0 %}<span class="badge confBadge">{{ ctxtramagendado.len_tramites_del_visador }}</span>{% endif %}</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" onclick='mostrarSubmenu("sin_submenu")'>Mis Visados</a></li>
		<li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick='mostrarSubmenu("tareasDatosPersonales"),opcionesDatosPersonales("nada")'>Mis datos <span class="caret"></span></a></li>
		<ul class="sidebar sidebar-2" style="display:none;" id="tareasDatosPersonales">
			<li><a href="#" onclick='opcionesDatosPersonales("alta_datos_personales")'>Datos personales</a></li>
			<li><a href="#" onclick='opcionesDatosPersonales("alta_contrasenia")'>Contraseña</a></li>
		</ul>
		<!--li><a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" onclick='mostrarSubmenu("consultasInformes")'>Consultas e Informes <span class="caret"></span></a></li>
		<ul class="sidebar sidebar-2" style="display:none;" id="consultasInformes">
			<li><a href="#">Consulta 1</a></li>
			<li><a href="#">Consulta 2</a></li>
			<li><a href="#">Consulta 3</a></li>
		</ul-->
	</font>
</ul>
{% endblock %}

{% block contenido %}
<div id="contenedor_botoncalapsable_resto"></div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		<div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingThree">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" onclick='mostrarSubmenu("sin_submenu")'>
					<font color="#ffffff" size="2">Agendar Visado</font>
				</a>
			</h5>
		</div>
		<div id="collapseThree" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingThree">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<form action="" class="" >
								<div class="row">
									<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
										{% block contenido_tramites_aceptados%}
										{% include "persona/visador/tramites_aceptados.html" with tramites=ctxtramaceptado.tramites%}
										{% endblock %}
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingTwo">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" onclick='mostrarSubmenu("sin_submenu")'>
					<font color="#ffffff" size="2">Cargar Visado</font>
				</a>
			</h5>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<form action="" class="" >
								<div class="row">
									<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
										{% block contenido_tramites_agendados%}
										{% include "persona/visador/tramites_agendados.html" with tramites=ctxtramagendado.tramites%}
										{% endblock %}
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingFour">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" onclick='mostrarSubmenu("sin_submenu")'>
					<font color="#ffffff" size="2">Mis Visados</font>
				</a>
			</h5>
		</div>
		<div id="collapseFour" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingFour">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{% block contenido_tramites_visados%}
								{% include "persona/visador/tramites_visados.html" with estados=ctxtramvisados.estados%}
								{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-custom">
		<div class="panel-heading panel-heading-custom box" role="tab" id="headingOne">
			<h5 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick='mostrarSubmenu("tareasDatosPersonales")'>
					<font color="#ffffff" size="2">Mis datos</font>
				</a>
			</h5>
		</div>
		<div id="collapseOne" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<select class="form-control input-sm" id="opcionesDeDatosPersonales" name="Opciones de Datos Personales" onChange="opcionesDatosPersonales(this.value);">
									<option selected value="nada"> ¿Que desea hacer? </option>
									<option value="alta_datos_personales">Modificar datos personales</option>
									<option value="alta_contrasenia">Modificar contrasena</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_datos_personales" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="container-fluid">
								<form method='POST' action='' enctype="multipart/form-data">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_datos_usuario"></div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_datos_usuario_dos"></div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_foto_perfil_usuario"></div>
									</div>
									<div id="contenedor_boton_cambia_datos" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
										<button  class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario" onclick="limpiar1()">
											Limpiar
										</button>
									</div>
									{% block modificar_datospersonales_usuario %}
									{% crispy usuario_datospersonales_form %}
									{% endblock %}
									<br>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid" id="alta_contrasenia" style="display: none;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
							<div class="container-fluid">
								<form method='POST' action='' enctype="multipart/form-data">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_datos_pass1"></div>
										<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="contenedor_datos_pass2"></div>
									</div>
									<div id="contenedor_boton_cambia_pass" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
										<button class="btn btn-danger btn-sm" type="reset" title="Borrar datos del formulario" onclick="limpiar1()">
											Limpiar
										</button>
									</div>
									{% block usuario_contrasenia_form %}
									{% crispy usuario_contrasenia_form %}
									{% endblock %}
									<br>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel" style="display: none;">
		<div class="panel-heading box" role="tab" id="headingNine">
			<h5 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" onclick='mostrarSubmenu("sin_submenu")'>
					<font color="#ffffff" size="2">Consultas e Informes</font>
				</a>
			</h5>
		</div>
		<div id="collapseNine" class="panel-collapse collapse colorp" role="tabpanel" aria-labelledby="headingNine">
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$('#id_boton_ayuda_2').hide();
	$('#id_boton_ayuda').show();
	$('#id_boton_ayuda').click(function() {
		nombre_colapsable = $(".panel-collapse[aria-expanded='true']");
		if (nombre_colapsable.length>0){
			cosa = $(nombre_colapsable).parent().find('.panel-title a')[0].innerText;

			if (cosa == "Agendar Visado"){
				window.open("{% url 'manual' 'archivos/agendar_visado.html' %}", '_blank');
			}
			else if (cosa == 'Cargar Visado'){
				window.open("{% url 'manual' 'archivos/cargar_visado.html' %}", '_blank');
			}
			else if (cosa == 'Mis Visados') {
				window.open("{% url 'manual' 'archivos/mis_visados.html' %}", '_blank');
			}
			else {
				descripcion = $('#opcionesDeDatosPersonales').val();
				if (descripcion == 'alta_datos_personales') {
					window.open("{% url 'manual' 'archivos/datos_personales.html' %}", '_blank');
				}
				if (descripcion == 'alta_contrasenia'){
					window.open("{% url 'manual' 'archivos/cambiar_contraseña.html' %}", '_blank');
				}
			}
		}
		else{
			window.open("{% url 'manual' 'index.html' %}", '_blank');
		}
	});

	function mostrarSubmenu(subformulario){
		if(subformulario=="sin_submenu"){
			$('.' + "sidebar-2").hide();
		}
		else{
			var idSubformulario=document.getElementById(subformulario).id;
			if($('#' + idSubformulario).is(':hidden')){
				$('.' + "sidebar-2").hide();
				$('#' + idSubformulario).show();
			}else{
				$('#' + idSubformulario).hide();
			}
		}
	}
</script>

<script>
	var c = document.getElementById("botonConfiguracion");
	c.style.display= '';
	var d = document.getElementById("imagenusuario");
	d.style.display= '';
</script>
{% endblock %}
