{% load staticfiles %}

{% block contenido_tramite_estado %}
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
          <!-- Cabecera -->
          <thead>
              <tr>
                  <!---<td>Nombre propietario</td>
                  <td>Apellido propietario</td>
                  <td>Telefono propietario</td>
                  <td>Domicilio terreno</td>-->
                  <td>Datos del Propietario</td>
                  <td>Estado del tramite</td>
                  <td>Medidas</td>
                  <td>Tipo de Obra</td>
                  <td>Ver documentos</td>
                  <td>Final obra parcial</td>
                  <td>Final obra total</td>
              </tr>
          </thead>
          <!-- Mostramos los datos de las tablas -->
          <tbody>
          {% if tramites_de_profesional %}
              {% for tramite in tramites_de_profesional %}
                <tr>
                      <td>{{tramite.propietario}}</td>
                      <td>tramite.estado</td>
                      <td>{{tramite.medidas}}</td>
                      <td>{{tramite.tipo_obra}}</td>
                      <td>
                            <a href="#">
                              <button type="button" class="btn btn-primary" name="ver-certificado">
                                Ver documentos
                              </button>
                            </a>
                      </td>
                      <td>
                            <a href="{% url 'solicitud_final_obra_parcial' pk_tramite=tramite.id %}">
                              <button type="button" class="btn btn-primary" name="ver-certificado">
                                Final obra parcial
                              </button>
                            </a>
                      </td>
                      <td>
                            <a href="{% url 'solicitud_final_obra_total' pk_tramite=tramite.id %}">
                              <button type="button" class="btn btn-primary" name="ver-certificado">
                                Final obra total
                              </button>
                            </a>
                      </td>
                </tr>
              {% endfor %}
          {% endif%}
          </tbody>
      </table>
  </div>
{% endblock %}
