{% load staticfiles %}

{% block contenido_tramite_estado %}
<div class="table-responsive">
	<table  class="table table-bordered table-striped table-hover" style="background: white;">
		<thead>
			<tr>
				<th>Nro</th>
				<th>Propietario</th>
				<th>Estado Actual</th>
				<th>Historial</th>
				<th>Aprobar</th>
				<th>No Aprobar</th>
				<th>Final de obra</th>
				<th>No Final de obra</th>
				<th>Final de obra parcial</th>
			</tr>
		</thead>
		<tbody>
			{% if tramites_de_profesional %}
			{% for tramite in tramites_de_profesional %}
			<tr>
				<td class="col-xs-1">{{tramite.id}}</td>
				<td class="col-xs-2">{{tramite.propietario}}</td>
				<td class="col-xs-2">{{tramite.estado}}</td>
				<td align="center" class="col-xs-1">
					<a href="{% url 'ver_documentos_tramite_profesional' tramite.pk %}">
						<button type="button" class="btn btn-primary btn-xs" name="ver_documentos_tramite">
							<span class="glyphicon glyphicon-search" aria-hidden="true"> Ver</span>
						</button>
					</a>
				</td>
				{% if tramite.se_puede_aprobar %}
				<td align="center" class="col-xs-1">
					<a href="{% url 'profesional_solicita_aprobar_tramite' pk_tramite=tramite.id %}">
						<button type="button" class="btn btn-primary btn-xs" name="aprobar_tramite">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% else %}
				<td align="center" class="col-xs-1">
					<a href="#">
						<button disabled type="button" class="btn btn-primary btn-xs" name="aprobar_tramite">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% endif %}
				{% if tramite.se_puede_pedir_no_aprobar %}
				<td align="center" class="col-xs-1">
					<a href="{% url 'cargar_no_aprobar_profesional' pk_tramite=tramite.id %}">
						<button type="button" class="btn btn-danger btn-xs" name="no_aprobar_tramite">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% else %}
				<td align="center" class="col-xs-1">
					<a href="#">
						<button disabled type="button" class="btn btn-danger btn-xs" name="no_aprobar_tramite">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% endif %}
				{% if tramite.se_puede_pedir_final_de_obra %}
				<td align="center" class="col-xs-1">
					<a href="{% url 'cargar_final_de_obra_total_profesional' pk_tramite=tramite.id %}">
						<button type="button" class="btn btn-primary btn-xs" name="solicita_final_obra">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% else %}
				<td align="center" class="col-xs-1">
					<a href="#">
						<button disabled type="button" class="btn btn-primary btn-xs" name="solicita_final_obra">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% endif %}
				{% if tramite.se_puede_pedir_no_final_de_obra_total %}
				<td align="center" class="col-xs-1">
					<a href="{% url 'cargar_no_final_de_obra_total_profesional' pk_tramite=tramite.id %}">
						<button type="button" class="btn btn-danger btn-xs" name="solicita_no_final_obra">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% else %}
				<td align="center" class="col-xs-1">
					<a href="#">
						<button disabled type="button" class="btn btn-danger btn-xs" name="solicita_no_final_obra">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% endif %}
				{% if tramite.se_puede_pedir_final_de_obra_parcial %}
				<td align="center" class="col-xs-1">
					<a href="{% url 'profesional_solicita_final_obra_parcial' pk_tramite=tramite.id %}">
						<button type="button" class="btn btn-primary btn-xs" name="solicita_final_obra_parcial">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% else %}
				<td align="center" class="col-xs-1">
					<a href="#">
						<button disabled type="button" class="btn btn-primary btn-xs" name="solicita_final_obra_parcial">
							<span class="glyphicon glyphicon-home" aria-hidden="true"> Solicitar</span>
						</button>
					</a>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
			{% endif%}
		</tbody>
	</table>
</div>
{% endblock %}
