{% load staticfiles %}

{% block contenido_tramite_estado %}
  <div class="table-responsive">
      <table  class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
          <!-- Cabecera -->
          <thead>
              <tr>
                  <th>Nro de tramite</th>
                  <th>Propietario</th>
                  <th>Estado</th>
                  <th>Medidas</th>
                  <th>Tipo</th>
                  <th>Ver documentos</th>
                  <th>Final obra parcial</th>
              </tr>
          </thead>
          <!-- Mostramos los datos de las tablas -->
          <tbody>
          {% if tramites_de_profesional %}
              {% for tramite in tramites_de_profesional %}
                <tr>
                      <td class="col-xs-1">{{tramite.id}}</td>
                      <td class="col-xs-3">{{tramite.propietario}}</td>
                      <td class="col-xs-1">{{tramite.estado}}</td>
                      <td class="col-xs-1">{{tramite.medidas}}</td>
                      <td class="col-xs-1">{{tramite.tipo_obra}}</td>
                      <td align="center" class="col-xs-2">
                            <a href="{% url 'ver_documentos_tramite_profesional' tramite.pk %}">
                              <button type="button" class="btn btn-primary btn-sm" name="ver_documentos_tramite">
                                Ver documentos
                              </button>
                            </a>
                      </td>
                      <td align="center" class="col-xs-2">
                            <a href="{% url 'profesional_solicita_final_obra' pk_tramite=tramite.id %}">
                              <button type="button" class="btn btn-primary btn-sm" name="ver-certificado">
                                Final obra
                              </button>
                            </a>
                      </td>

                </tr>
              {% endfor %}
          {% endif%}
          </tbody>
      </table>
  </div>
{% endblock %}
