{% load staticfiles %}

{% block contenido_tramites_corregidos %}
  <div class="table-responsive">
      <table  class="table table-bordered table-striped table-hover table-condensed" style="background: white;">
          <!-- Cabecera -->
          <thead>
              <tr>
                  <th>Propietario</th>
                  <th>Estado</th>
                  <th>Medidas</th>
                  <th>Tipo</th>
                  <th>Ver documentos</th>
              </tr>
          </thead>
          <!-- Mostramos los datos de las tablas -->
          <tbody>
          {% if tramites %}
              {% for tramite in tramites %}
                <tr>
                      <td class="col-xs-3">{{tramite.propietario}}</td>
                      <td class="col-xs-2">{{tramite.estado}}</td>
                      <td class="col-xs-2">{{tramite.medidas}}</td>
                      <td class="col-xs-2">{{tramite.tipo_obra}}</td>
                      <td align="center" class="col-xs-2">
                            <a href="{% url 'ver_documentos_corregidos' tramite.pk %}">
                              <button type="button" class="btn btn-primary btn-sm" name="ver_documentos_corregidos">
                                Ver documentos
                              </button>
                            </a>
                      </td>
                </tr>
              {% endfor %}
          {% endif%}
          </tbody>
      </table>
  </div>
{% endblock %}
