{% load staticfiles %}

{% block contenido_tramites_corregidos %}
<div class="table-responsive">
	<table  class="table table-bordered table-striped table-hover" style="background: white;">
		<thead>
			<tr>
				<th>Nro</th>
				<th>Domicilio</th>
				<th>Propietario</th>
				<th>Estado</th>
				<th>Superficie</th>
				<th>Tipo</th>
				<th>Documentos</th>
			</tr>
		</thead>
		<tbody>
			{% if tramites %}
			{% for tramite in tramites %}
			<tr>
				<td class="col-xs-1">{{tramite.id}}</td>
				<td class="col-xs-2">{{tramite.domicilio}}</td>
				<td class="col-xs-3">{{tramite.propietario}}</td>
				<td class="col-xs-2">{{tramite.estado}}</td>
				<td class="col-xs-2">{{tramite.medidas}}</td>
				<td class="col-xs-2">{{tramite.tipo_obra}}</td>
				<td align="center" class="col-xs-1">
					<a href="{% url 'ver_documentos_corregidos' tramite.pk %}">
						<button type="button" class="btn btn-primary btn-xs" name="ver_documentos_corregidos">
							<span class="glyphicon glyphicon-search" aria-hidden="true"> Ver</span>
						</button>
					</a>
				</td>
			</tr>
			{% endfor %}
			{% endif%}
		</tbody>
	</table>
</div>
{% endblock %}
